[2016-04-15 18:12] Teqa opened #1 "DnD only working on Chrome"
The visual editor has a nice DnD for ordering questions.
This works on Chrome, but Firefox is not working
Tested on Developer edition 45 and normal FF 45
MS Edge is also working.

[2016-04-16 11:45] andrewtelnov commented on #1
There is a bug in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=646823
I was using <button> tag for rendering question elements.
I'm using <div> tag now. Additionally, there was a bug of obtaining dataTransfer. It is fixed as well.

Thank you,
Andrew Telnov-

[2016-04-17 08:57] Teqa opened #2 "Help request on setting the visual editor in a modal box"
A common scenario (issue) in bootstrap is the usage of multiple modals.
When a modal is triggered from another modal, this will get a mixed backdrop. Very confusing for all bootstrap users. Solution can be found on several forums:

`// Fix stacked models in bootstrap
$(document)
    .on('show.bs.modal', '.modal', function(event) {
        $(this).appendTo($('body'));
    })
    .on('shown.bs.modal

[2016-04-17 20:43] andrewtelnov commented on #2
Yes, the first item in the search gives me this: http://www.bootply.com/61322
I will take a look at it. By the way, is it possible to show Visual Editor on the page itself, like having tabs?

To be honest, I do not want to spend to much time on this issue right now. There are many other issues that I have to address :(

Thank you,
Andrew Telnov

[2016-04-18 06:43] Teqa opened #3 "Survey editor build process fails"
When running a gulp makedist, errors appear on namespaces.

$ gulp makedist
[08:39:57] Warning: gulp version mismatch:
[08:39:57] Global gulp is 3.9.1
[08:39:57] Local gulp is 3.9.0
[08:39:59] Using gulpfile C:\www\git\survey.js.editor\gulpfile.js
[08:39:59] Starting 'makedist'...
[08:39:59] Starting 'templates'...
[08:39:59] Finished 'templates' after 13 ms
[08:39:59] Starting 'typescript:sources

[2016-04-18 12:53] Teqa commented on #2
Agree with priority. It is nice to have this in editor in a modal, but works just fine in a full page.
Leave it open with low prio....

[2016-04-18 12:55] Teqa opened #4 "Feature request: disable question types"
It would be nice if we can disable certain question  types.
Some questions  are confusing to an end user, like the HTML question.
We would like these disabled. Possible to make a setting for this?

[2016-04-18 14:38] andrewtelnov commented on #4
I have added the options parameter to the editor constructor. Right now it has only one property: questionTypes: Array<string>; Here is the example from Unit Test.
`var editor = new SurveyEditor.SurveyEditor(null, { questionTypes: ["text", "dropdown", "unknown"]});`
`assert.equal(editor.questionTypes.length, 2, "Only two types from three are accepted");`

Thank you,
Andrew

[2016-04-18 14:38] #4 closed

[2016-04-18 14:40] andrewtelnov commented on #3
Yes, I will deal with it. I will put the instruction and add npm package.
It is in the top of my Todo list.

[2016-04-21 07:47] andrewtelnov commented on #3
FYI: I have corrected the scripts.
As soon as my pull request will be accepted (https://github.com/DefinitelyTyped/DefinitelyTyped/pull/9053), I will finish the task.

[2016-04-25 19:06] Teqa commented on #3
Hi Andrew,
What is your status on the build script?
The linked pull request was closed?

[2016-04-26 09:07] Teqa opened #5 "Build file gives TypeError"
When processing the build for the editor, running the editor gives an error:

`TypeError: $root.getLocString is not a function

...{with($data||{}){return{'css':function(){return {active:koIsShowDesigner()} }}}

	`

Running the editor via the download file is ok. So technically the latest version seems to work fine, but the build is not getting at the same result.
Did we miss a step, i.e. adding a

[2016-04-26 10:25] andrewtelnov commented on #5
It is totally my fault. Locally, I use the local version of surveyjs. The build uses the npm version of surveyjs.
I have to change the way I develope the surveyjs.editor. Use surveyjs npm version only, or publish all projects to npm at once.
I have updated all projects in NPM to 0.9.5. It should be fine now.

Thank you,
Andrew

[2016-04-26 10:25] #5 closed

[2016-04-26 10:25] #3 closed

[2016-04-26 10:50] Teqa opened #6 "Explanation needed: how to work with localization"
Hi Andrew,

The latest build is fine now. But it's unclear how you want to approach the localization.
I see a new attribute locale on survey level. But what does it do?
I expected a folder with a list of items for translation. Like
"Please drop a question here."
"Pagex"
"Questionx"
Or even the attributes:
"visible", "readonly", etc.
The latter is less important. The first is making the editor user

[2016-04-26 10:58] Teqa commented on #5
Issue is actually still there. Updated git and reran
gulp makedist
copied js from package folder.

[2016-04-26 11:57] andrewtelnov commented on #6
I was planning to add a German or Russian localization later, probably on the next week.
However, you may already use localization at the current stage.
Take a look at this file: https://github.com/andrewtelnov/surveyjs.editor/blob/master/src/editorLocalization.ts

You will have to create your own variable, similar to "defaultStrings".
For example:
`export var frenchStrings = { ... }`

Create a ne

[2016-04-26 15:19] andrewtelnov commented on #5
You are using the old surveyed file.
Please update  survey.bootstrap.js. I have tried - everything is fine now.

[2016-04-26 15:29] andrewtelnov commented on #5
Do not forget to call
 npm install
To get survey-knockout-bootstrap v0.9.5

[2016-04-26 19:10] Teqa commented on #5
Have done the npm install, but do not get the other statement:
"Please update survey.bootstrap.js. I"
Which file is this?

[2016-04-26 19:59] andrewtelnov commented on #5
Sorry, for not being clear: surveyeditor.js depends on survey.bootstrap.js. You should use v0.9.5, in the header: * surveyjs - Survey JavaScript library v0.9.5.
This version contains method: SurveyModel.prototype.getLocString
You have error because you are using the old version of survey.bootstrap.js, likely version 0.9.3. It doesn't have this method.

Thank you,
Andrew

[2016-07-06 13:52] andrewtelnov opened #8 "Undo/redo functionality"
Add undo/redo functionality.

[2016-07-06 13:52] andrewtelnov commented on #8
Commit the feature implementation.

[2016-08-02 08:01] andrewtelnov commented on #8
Introduced in v0.9.10

[2016-08-02 08:01] #8 closed

[2016-08-10 17:08] andrewtelnov opened #9 "Add reset button to property editors"

[2016-08-10 17:13] andrewtelnov opened #10 "Create a question editor"
Create a dialog to edit the most frequent used question properties in one place and in a more convenient way.

[2016-08-17 05:04] andrewtelnov opened #11 "Save button is disabled if changed were made in json/text editor"
There is no way to save the survey if changes are made in json editor.

[2016-08-31 00:41] vangorra opened #12 "JS error on http://surveyjs.org/builder/ Cannot read property 'isJsonCorrect' of undefined"
Using Chrome for Linux Version 52.0.2743.116 (64-bit)

1. goto http://surveyjs.org/builder/
2. Optionally add less than 3 tools from the toolbox. (Adding 3 or more prevents the error from occurring)
3. click on the "JSON Editor" tab.
4. click on "Designer" tab.

You should see this error:
`
editor.ts:279 Uncaught TypeError: Cannot read property 'isJsonCorrect' of undefined
`

Confirmed this also o

[2016-08-31 08:14] andrewtelnov commented on #12
I have just tried it with Chrome exactly the same version, running on Ubuntu. I was not able to reproduce the problem. However, several days ago, a guy wrote me about the similar issue under Windows 7.
Probably there are some additional steps. I believe this is the line that shows error:
`if (!this.textWorker.isJsonCorrect)`
and` this.textWorker` is undefined in your case. However, I do not see, h

[2016-09-01 00:14] vangorra commented on #12
Full stacktrace for the error:
[code]

In doing some debugging, sometimes, processJson() is being called after canSwitchViewType(). Seems to me processJson() should be getting called first.

Further testings shows that if I click on "JSON Editor" immediately after the page loads and then immediately click on "Designer", I can get the error to reproduce on my Chromebook Pixel and Ubuntu Chrome brow

[2016-09-01 06:32] andrewtelnov commented on #12
Thank you very much for the information.
I do not know what is going on exactly, Probably, ace editor is creating later in some version of Chromes and cause issues.
Anyway, I have made several changes. Could you please try it out now? I have updated: http://surveyjs.org/builder/

Thank you,
Andrew

[2016-09-01 16:36] vangorra commented on #12
I can no longer reproduce the issue on either machine I was using. Seems fixed to me.

[2016-09-01 16:36] #12 closed

[2016-09-01 19:40] andrewtelnov commented on #12
Great!
Thanks  a lot for reporting the issue and providing the detailed information.

Thank you,
Andrew

[2016-09-21 10:16] andrewtelnov opened #13 "Add ability to create/modify property editors on the fly (plug-in)"
Properties Editors code should be refactored. At the current moment it is hard coded. It is hard to customize and add new features.
There should be an ability to add a new property editor for a property type or override the existing one.

[2016-09-23 20:31] #13 closed

[2016-09-29 06:41] DimitriFreimann opened #14 "Unable to set the same value for "Value" and "Text" in Choices Property"
If i want to set the same value for "Value" and "Text" in Choices property for a question, the text vanished when I leave the question. Is there any possibility to fix this?

[2016-09-29 07:27] andrewtelnov commented on #14
Hi @DimitriFreimann from v0.9.12 I remove the text if it equals to the value. For example:
{value: 1, text: 'one'} will store both value and text, but { value: 1, text: '1'} will store the value only.
Are you talking about this issue or do I miss anything?

Thank you,
Andrew

[2016-09-29 07:44] DimitriFreimann commented on #14
Hi Andrew, this is exactly the „issue“. We need something like {value: one, text}, but there is a {one} only for the question. We need this, to analyze it on our server. So we need always the same structure.

Thank you,
Dimitri

Von: Andrew [mailto:notifications@github.com]
Gesendet: Donnerstag, 29. September 2016 09:28
An: andrewtelnov/surveyjs.editor <surveyjs.editor@noreply.github.com>
Cc: Frei

[2016-09-29 13:45] andrewtelnov commented on #14
@DimitriFreimann I got you. To me it sounds like an option. I will add this option to the next minor release.

Thank you,
Andrew

[2016-10-04 09:43] kailashyadav opened #15 "Can we inline edit for question and options?"
@andrewtelnov I loved your feature and using your library in one of my project, it would be great if you can provide inline edit to your upcoming feature along with jQuery only version, right now it has dependency on Knockout or React framework.

[2016-10-04 17:44] andrewtelnov commented on #15
@kailashyadav Are you talking about survey editor or surveyjs library?
We are thinking about jQuery version of surveyjs library. I am not sure about survey editor. Knockout is only 50k size and I do not think it is a problem for a back-end.

[2016-10-10 08:52] andrewtelnov commented on #14
@DimitriFreimann I have added this functionality, please create the editor using the following code:
`var editor = new SurveyEditor.SurveyEditor("editorContainer", { alwaySaveTextInPropertyEditors : false});`

[2016-10-10 09:34] DimitriFreimann commented on #14
You’re great! Thank you!

Von: Andrew [mailto:notifications@github.com]
Gesendet: Montag, 10. Oktober 2016 10:52
An: andrewtelnov/surveyjs.editor <surveyjs.editor@noreply.github.com>
Cc: Freimann, Dimitri <dimitri.freimann@bechtle.com>; Mention <mention@noreply.github.com>
Betreff: Re: [andrewtelnov/surveyjs.editor] Unable to set the same value for "Value" and "Text" in Choices Property (#14)

@Di

[2016-10-12 11:53] kailashyadav commented on #15
@andrewtelnov i don't have much experience in knockout and wanted to add few more question type? how should i do that? for instance The company name, logo and introductory text for the Survey.

[2016-10-12 17:46] kailashyadav opened #16 "Matrix (dynamic rows) & Matrix (multiple choice) not working"
@andrewtelnov if i try to add these type of question, i get following error and question doesn't come up unless another type of question is created.

`knockout.js:72 Uncaught ReferenceError: Unable to process binding "template: function (){return { name:'propertyeditor-itemvalues',data:choicesEditor} }"`
`Message: Unable to process binding "template: function (){return { name:'propertyeditor-modal

[2016-10-12 17:51] kailashyadav opened #17 "Add new question type"
@andrewtelnov Add few more question type? for instance The company name, logo and introductory text for the Survey.

[2016-10-13 09:07] andrewtelnov commented on #16
Yes, thank you! I have fixed the bug-

[2016-10-13 09:11] kailashyadav commented on #16
@andrewtelnov Have you released the latest version? I am using it in one of my production application.

[2016-10-13 12:46] andrewtelnov commented on #16
@kailashyadav I have updated websites and zip file that you may download. However, I do not update NPM package.

[2016-10-13 12:48] andrewtelnov commented on #17
@kailashyadav Would it be better to create this outside the survey?
Or do you want them to be editable in the editor?

[2016-10-13 12:49] kailashyadav commented on #17
I want them editable in survey, as any survey can have different settings
for same company.

On Thursday, October 13, 2016, Andrew <notifications@github.com> wrote:

[2016-10-14 11:15] andrewtelnov commented on #17
@kailashyadav My e-mail you may find on this page: https://github.com/andrewtelnov and the survey js editor page (at the end) https://github.com/andrewtelnov/surveyjs.editor

About additional settings. The surveyjs is a container. The idea is to create a survey widget that everybody may insert at any part of his web page.
It is not hard to add these three properties into survey. The main problem,

[2016-10-20 07:58] myselflokendra commented on #17
@andrewtelnov : I tried to add a new type of question by forking your repo, I got how you are adding types of questions, however as soon as I add any new type of question, I am not able to find new Survey class in the dist folder, I think I am missing something which is why I am not able to generate Survey base class (survey.bootstrap.min.js), can you please help with this? Thanks much in advance!

[2016-10-20 08:40] andrewtelnov commented on #17
@myselflokendra Yes, we are in process of a large refactoring at this very moment. I really hope we will finish with several days. There is no survey.bootstrap[.min].js any more. There is only survey[.min].js file. Please take a look at: https://github.com/andrewtelnov/surveyjs/issues/86.
Additionally, we are moving to webpack right now: https://github.com/andrewtelnov/surveyjs/issues/75. It will

[2016-10-20 10:09] myselflokendra commented on #17
@andrewtelnov : Gotcha! Btw, I was able to understand after I sent it you, I am doing the same way. Thanks for the quickest response.

I am able to add new question type now and now I have another question for you, I needed to manually add the class in survey.d.ts, to me it should be auto populate, right? Or I am missing something.

[2016-10-20 13:26] andrewtelnov commented on #17
@myselflokendra We used to build d.ts file as in a gulp task during typescript compilation. Unfortunately, right now we stuck exactly with this problem. We can not use the survey.d.ts file that typescript + webpack generates to us. It seems we can't use the old d.ts file with the new created library :-(
Currently we are thinking to try browserify. We are working on this exactly issue right now. Ag

[2016-10-20 14:46] andrewtelnov commented on #17
@myselflokendra I just realized that you are not using  a master github version of editor. It means you may just add a class to a .d.ts file and you will be fine.
If you do not want to have any specific functionality for your question in the editor, the only thing you need - is to register the question in the QuestionFactory:
`QuestionFactory.Instance.registerQuestion("questionname", (name) => { r

[2016-10-27 11:10] myselflokendra commented on #16
@andrewtelnov : When can we have that in NPM package, as I am working on top of your builder to add few more questions and properties to it, however, it starts breaking this one, if you just let me know the fixes to be done here, I can build by my own.

[2016-10-27 11:54] myselflokendra commented on #16
@andrewtelnov : My bad, i have not taken latest from upstream, please ignore.

[2016-10-30 09:48] andrewtelnov commented on #17
I have created a new question type as a plugin. Please, take a look: https://github.com/andrewtelnov/surveyjs/tree/master/src/plugins

[2016-11-10 15:23] randall84 opened #21 "Manual choises rrder"
A nice feature would be to be able to choose the order of "choices".
Now I can set it with choicesOrder, but just "ASC, DESC, RANDOM"

What do you think about it?
thanks

[2016-11-13 09:06] andrewtelnov commented on #21
Hi @randall84, could you please describe in more details. I am not sure I follow you :-(

[2016-11-13 09:06] #16 closed

[2016-11-13 09:07] #11 closed

[2016-11-13 09:07] #14 closed

[2016-11-13 09:08] #9 closed

[2016-11-14 09:21] andrewtelnov opened #22 "Question title is not updated in the editor on changing survey.requreText property"
knockout doesn't recalculate it's property on applyBinding or clearNode for the root element.
We need to tell knockout to update calculated values manually.

[2016-11-14 12:46] #22 closed

[2016-11-14 14:54] randall84 commented on #21
In questions where I have "multiple choices" I cannot set the orders of the Answers(maybe with drag & drop?)

![screen shot 2016-11-14 at 15 53 19](https://cloud.githubusercontent.com/assets/5146354/20269207/8d45203e-aa82-11e6-9fc0-6596f893c1c6.png)

[2016-11-14 19:54] andrewtelnov commented on #21
@randall84, totally agreed. It makes the perfect sense.

Thank you,
Andrew

[2016-11-16 09:18] andrewtelnov opened #23 "Add ability to reorder items in the array property editors"

[2016-11-16 09:20] andrewtelnov commented on #21
Please refer to this issue: https://github.com/andrewtelnov/surveyjs.editor/issues/23

[2016-11-16 10:22] randall84 commented on #21
thanks!

[2016-11-22 15:20] saltas888 opened #24 "React support (builder)"
Do we have something for attaching the builder in a React project?

[2016-11-24 10:05] andrewtelnov commented on #24
@saltas888 It is written using knockout version and we do not have immediate plans to create a react version and have in parallels two version knockout and react, as for library itself.
However, you may use it as it is. Do you you have any issues with using the current version in your project?
Knockout.js is about 50k in gzip.

Thank you,
Andrew

[2016-11-24 11:22] saltas888 commented on #24
Hello Andrew,
Yes I made a page where the builder stands alone with knockout js and it works fine.
However, I don't prefer using two different frameworks in the same project. Also I need to make some modifications in builder and I haven't any free time to learn the basic in knockout.

So Ι have being inspired from this builder and in the meantime I'm trying to build something similar in React but

[2016-11-24 11:23] dmitrykurmanov commented on #24
@saltas888 , in fact knockout minified version is 54kb and with HTTP compression (gzip)  just 20kb.

[2016-11-24 11:25] saltas888 commented on #24
Yeah, I have noticed that but it's still being an extra library in a React project

[2016-11-28 11:17] dmitrykurmanov commented on #24
@saltas888 it is good idea to create reactjs version for surveyjs editor. We will think about it.

[2016-12-09 09:33] #21 closed

[2016-12-09 09:33] #23 closed

[2016-12-14 10:44] andrewtelnov opened #27 "Make ace editor an optional feature"
At the current moment, survey editor requires ace editor to run. In some cases you may not to want to show an editor at all, so ace editor should be an optional feature.
Use textarea if ace editor is not included into the project.

[2016-12-14 10:45] andrewtelnov commented on #27
It is implemented.

[2016-12-14 10:48] andrewtelnov opened #28 "Add options to show/hide tabs: JSON Editor, Test Survey, Embeded Survey"
Additionally make Embeded Survey turned off by default.

[2016-12-14 10:50] andrewtelnov opened #29 "Separate model, platform independent code, from knockout."
Refactor code, to allow implement the react version of editor.

[2016-12-14 10:52] andrewtelnov opened #30 "Add an option to show/hide "Options" menu."
Commonly, there is no need in the "options" menu. There is should be an option that allow to show it off/on. The button menu should be hidden by default.

[2016-12-14 11:59] andrewtelnov commented on #28
Implemented

[2016-12-14 11:59] andrewtelnov commented on #30
Implemented

[2016-12-14 20:01] franjogordillo opened #31 "How to lift the project in heroku"
Hi Andrew,

Please im trying to lift the project in heroku with angular/typescript add on, but it does not work. Please tell me what i need to lift the service.

Best regards ,

Francisco.

[2016-12-15 07:35] andrewtelnov commented on #31
@franjogordillo We are working right now on support Angular2 and jQuery for surveyjs library. We are going to make it available shortly.
The Editor is an another story. The code is currently tightly bind with the knockout. We have to do what we have done with the surveyjs library before: separate logic from knockout model, then create the react version. After that we may use [preact](https://preac

[2016-12-15 18:10] andrewtelnov opened #32 "Create an example of adding/removing a property for a question"

[2016-12-20 12:55] vimalavinisha commented on #28
Hi,
      I  installed serveyjs-editor module and then try to disable TestSurveyTab using the below options
 let options = {
        showTestSurveyTab:false
      };
      this.SJEditor = new SurveyEditor.SurveyEditor('editor',options);

But It does not work..Still it showing the testSurveyTab in the editor..While i check your committ, it had done before 6 days. but npm is published 2 weeks ago..C

[2016-12-21 19:38] scondra opened #33 "Changes not being saved"
Randomly when changing the name/title of a question then clicking on to something else the updates aren't saved. Doing an Undo and Redo sometimes seems to bring the changes back. Also, when dealing with multiple pages sometimes the questions and/or complete pages will disappear when making updates. This is very random and following the same process may not result in the same issue each time.

[2016-12-22 17:51] xaviertremblay opened #34 "Npm package surveyjs-editor package.json file contains a wrong main path"
It should be ./dist/surveyeditor.min.js instead of  ./js/surveyeditor.min.js

The folder has only dist when loaded from npm.

![editor](https://cloud.githubusercontent.com/assets/13556543/21434958/0825a58c-c845-11e6-9377-9f2603035fac.png)

[2016-12-22 18:23] andrewtelnov commented on #33
@scondra Does it happen when you are in design tab, I mean you do not click on JSON or 'Test Survey' tabs?
I was not able to reproduce it today. I will try tomorrow and ask @dmitrykurmanov to try it out as well.

Thank you,
Andrew

[2016-12-22 18:30] scondra commented on #33
Andrew,

Yes it's in the design view. Very random. Happens when adding and updating
questions. Specifically when changing the name and title values of the
questions then going to a different question or page. I appreciate you
looking in to it.

On Dec 22, 2016 1:23 PM, "Andrew" <notifications@github.com> wrote:

[2016-12-22 18:45] andrewtelnov commented on #34
@xaviertremblay Yes, thank you. I was going to publish a new version into npm and I have fixed this issue.

[2016-12-22 19:13] andrewtelnov commented on #28
@vimalavinisha The new version is in npm.

Thank you,
Andrew

[2016-12-23 13:08] andrewtelnov commented on #33
@scondra We have tried to reproduce the issue, but had no luck :-(
However, there is a non-initiative behavior with a question.title.
The default value for question title is a question name, where question could not be empty. In fact if the question title equals to question name then the survey library make the question title empty.
For example, you have the following code:
[code]
After that you h

[2016-12-23 17:29] scondra commented on #33
Andrew,

Yes that is part of the issue. Another issue that is very similar is as
follows:

Copy the content of the question name and paste it in the title
Change the value of the name
Click on JSON Editor
Click on Survey Designer
Click on the question

Following this process the name value will have the updated value but the
title still gets cleared. I'm assuming its an order of operation. The nam

[2016-12-23 18:08] #34 closed

[2016-12-23 21:35] andrewtelnov commented on #33
@scondra After further investigation, I have found that indeed, it was a bug.
The actual value was not set correctly in case of title property, if the value was equal to the "name" property value. I was able to add a [unit test](https://github.com/andrewtelnov/surveyjs.editor/blob/7277722008e9915d307b60c43976e94f5de72d4d/tests/ObjectEditorTests.ts) and make it work.
I have updated the editor on th

[2017-01-05 15:31] andrewtelnov opened #35 "Add export results to json format."
Make sure to make it available via API.

[2017-01-17 10:54] andrewtelnov commented on #35
Implemented.
https://dxsurvey.com/Help/Api/GET-api-MySurveys-getSurveyResults-id_accessKey

[2017-01-23 11:05] siskender opened #36 "Style of trigger modal"
Using bootstrap v3.3.7 the layout of the modal when pressing on the "trigger" button is really messed up.

* The dropdown is visible from start and is not toggled when pressing on the add button
* The add button and the remove buttons are not correctly aligned to the dropdown field
* The add button for adding a page or question (visible trigger) is invisible

![modal](https://cloud.githubuserconte

[2017-01-24 01:20] SlowburnAZ opened #37 "Uncaught TypeError: k.SurveyTemplateText is not a constructor"
@andrewtelnov
I'm getting this error simply by including the survey and survey editor code in my page.

Anyone else experiencing this?

[2017-01-24 01:50] SlowburnAZ commented on #37
Okay, I must be out my mind today.

I had the jQuery version of the survey code, but the builder is supporting only Knockout at this time.  I switched to the KO version of the survey code, and all is good.

My bad.

[2017-01-24 01:50] #37 closed

[2017-01-24 06:39] andrewtelnov commented on #36
@siskender  Yes, it doesn't look good :(

Thank you,
Andrew

[2017-01-25 07:25] dmitrykurmanov commented on #37
@SlowburnAZ, we implemented angular2 and jQuery versions.

[2017-01-25 07:59] andrewtelnov commented on #36
@siskender I have fixed the issues and updated it on http://surveyjs.org/builder/
Could you please check it out?

Thank you,
Andrew

[2017-01-25 08:37] andrewtelnov commented on #37
@dmitrykurmanov,  @SlowburnAZ is talking about the SurveyJS Editor. Editor supports knockout at the current moment.

[2017-01-25 09:12] andrewtelnov opened #38 "Add ability to save/load custom questions on the Toolbox"
1. editor.customToolboxQuestionsText: string { get;set;} property. Use it save/load the custom toolbox questions.
2. editor.addCustomToolboxQuestion(question: Survey.QuestionBase); function. Use it to add a new customToolboxQuestion.
3. editor.customToolboxQuestionMaxCount: number (default 3) - maximum number count of the customToolboxQuestions. Used it to increase/decrease the number of toolbox i

[2017-01-25 09:13] andrewtelnov commented on #38
Implemented-

[2017-01-25 13:41] siskender commented on #36
It looks good now. Thanks!

[2017-01-25 13:41] #36 closed

[2017-01-27 13:59] andrewtelnov opened #39 "Add fast entry mode for itemvalue property editor."
Add the fast entry mode for properties: choices, columns, rates and others.
One line is one item. Separate value from text by '|' char.
For example: "1|Item 1".

[2017-01-28 18:09] andrewtelnov commented on #10
Times to work in this task!

[2017-02-03 11:29] andrewtelnov opened #41 "VisibleIf property editor - Expression Editor"
Create the Expression Editor.

[2017-02-03 14:08] andrewtelnov opened #42 "startWithNewLine doesn't work in question Editor"
question Editor assign the wrong value to startWithNewLine property.

[2017-02-03 14:19] andrewtelnov commented on #10
It is done! There are several demos required.

[2017-02-04 09:37] andrewtelnov opened #43 "Support adaptive layout"
On small screen size hide the toolbox question text, show only icons
On extra small screen size hide the property grid.

[2017-02-09 07:06] andrewtelnov opened #44 "editor.text = null; makes the editor unstable"
editor.text = null; or editor.text = ""; should clear the survey and create a new empty page.

[2017-02-09 18:36] ppatel890 commented on #29
Hi, I was wondering what timeline you guys were thinking of for releasing a react version of surveyjs editor? Thank you for continuing to updating both libraries, they have been great to use!

[2017-02-09 20:33] andrewtelnov commented on #44
The most common problem, drag&drop doesn't work.

[2017-02-09 20:37] andrewtelnov commented on #29
@ppatel890 I have spent couple days on this task. I understood that it would take more than I have expected and decided to postponed this task for a while.
Do you have any issue with including the current version into your project?

Thank you,
Andrew

[2017-02-10 13:06] andrewtelnov opened #45 "ChoicesByUrl editor doesn't work correctly in question Editor"

[2017-02-10 13:06] #45 closed

[2017-02-10 15:42] rajan-g opened #46 "visibility flag editor helper text not showing"
Hi Andrewtelnov,
     I was tried with surveyjs editor, it is really amazing. While I am integrated in my local machine visibility editor helper text not showing could you help me ? I just followed your example code. any special configuration I need to do ?

[2017-02-10 19:00] andrewtelnov commented on #46
@rajan-g There is nothing any specific. You may look at the html code of the following page: http://surveyjs.org/builder/

[2017-02-10 19:00] #44 closed

[2017-02-10 19:00] #43 closed

[2017-02-10 19:01] #42 closed

[2017-02-10 19:01] #39 closed

[2017-02-10 19:01] #33 closed

[2017-02-10 19:02] #27 closed

[2017-02-14 19:04] andrewtelnov opened #47 "Make the question toolbox more flexible"
In v0.11.1 and lower there was an ability to limit the question types in the toolbox and change the possible number of copied questions.
There is a need to be able to add/remove/replace any toolbox item, be able to change the pre-setup properties for a standard question types.
Save/load all toolbox items and only copied questions.

[2017-02-14 19:06] andrewtelnov commented on #47
A new editor.toolbox property (QuestionToolbox type) is added. It gives the full control under the editor toolbox.

[2017-02-20 14:54] hyndsite opened #48 "Question: Regarding platform support"
Your homepage lists for the editor:

Any idea of a timeline when any other (any of those listed above) are expected to be released?

[2017-02-20 15:05] andrewtelnov commented on #48
@hyndsite To be honest we have postponed this task some time ago. At least for a couple months. I have spent several days on this task in early January, understood the amount of work and we decided to comeback to this later. We have a huge TODO list and this feature went down, since the cost of implementing it is high.
Another reason: knockout works perfectly with all other platforms and it is 22k

[2017-02-20 15:07] andrewtelnov opened #49 "Add additional elements on the Editor toolbox."
Create an API for commands.

[2017-02-20 15:08] hyndsite commented on #48
Thanks @andrewtelnov for the quick response.

Its being consider for a project and wanted to know the scope of options before a direction is chosen.

It sounds like you're saying that there are React or Angular projects implementing the KO visual editor without issues then?

Thanks again.

[2017-02-20 15:13] andrewtelnov commented on #48
@hyndsite you should not have problems: http://www.intelligiblebabble.com/making-reactjs-and-knockoutjs-play-nice
Additionally, you will likely use SurveyJS Editor as external widget. By the way, if you have any issues, we are here to help.

Thank you,
Andrew

[2017-02-20 15:14] hyndsite commented on #48
Thanks for the info.

[2017-02-20 15:14] #48 closed

[2017-02-21 09:06] #47 closed

[2017-02-21 09:06] #46 closed

[2017-02-21 09:06] #38 closed

[2017-02-21 09:07] andrewtelnov commented on #32
Here is the example: http://editor.surveyjs.io/examples/addproperties.html#code

[2017-02-21 09:07] #32 closed

[2017-02-21 09:08] #30 closed

[2017-02-21 09:08] #28 closed

[2017-02-21 15:33] chrisweconect opened #50 "Need help making the "name" field readonly and instead adding a unique ID to the "name" field."
Hey guys - really like Survey.js.  However: I'm having a problem.  What I need to do is:

a.)  Make the "name" text field in the form "readonly" so our users can't edit that field and...
b.)  Set that name field to a custom, unique ID so I can match that up with the json generated when a user answers a questions.  Thanks!

[2017-02-21 18:51] andrewtelnov commented on #50
@chrisweconect At the current moment there is no way to make the property read-only in the editor. You may only hide it. Additionally the name property can be added in the question editor as well.
Do you want to hide it completely or do you want to make it read-only?
We will have to add an event or something in the API to make it happen.

About custom name generation - I think the best solution is

[2017-02-22 07:53] chrisweconect commented on #50
@andrewtelnov - Thanks for the quick reply.  We would prefer to make the "name" field read-only.  How do we create an onQuestionCreating event?  Any example of how to do that?

Thanks,
Chris

[2017-02-22 08:14] andrewtelnov opened #51 "Add onQuestionCreating event"
This event should be called before a new question is added into the survey.
It will allow to change question properties, like name, tittle and so on.

[2017-02-22 08:16] andrewtelnov opened #52 "Create API to make properties read-only"
At the current moment there is no way to disable property editing in the property and question editors.

[2017-02-22 08:16] andrewtelnov commented on #50
@chrisweconect I will introduce onQuestionCreating event and will do an example. It will be available in the next minor. I think in about a week.
You will be able to get it early if you build the library by yourself. The instruction in the readme file.
Please follow these issues:
https://github.com/surveyjs/editor/issues/51
https://github.com/surveyjs/editor/issues/52

Thank you,
Andrew

[2017-02-22 10:30] andrewtelnov opened #53 "Survey Text maybe incorrect in Embedded and Test Survey tabs"
On changing tabs, the survey text/survey json may incorrectly be shown in Embedded and Test Survey tabs.

[2017-02-22 11:21] andrewtelnov opened #54 "Support custom widgets in Editor"

[2017-02-22 11:28] andrewtelnov commented on #51
As result, onQuestionAdded event is added. It fires after the question is added into the survey, but before editor render the question.

[2017-02-22 13:25] andrewtelnov commented on #54
Implemented-

[2017-02-22 14:35] chrisweconect opened #55 "Can't get surveyJSON on page initialization"
Hey,

I'm looking at this page: http://editor.surveyjs.io/examples/setsurvey.html#code

...and I can't get the editor.text from your instructions.

First,  document.getElementById('surveyJSON') isn't in the DOM.

Second, it looks like the JSON isn't actually *in* the .svd_json_editor_area textarea.  It seems like it's added magically through Knockout somehow.

How can I access the *initial* and *u

[2017-02-22 17:57] andrewtelnov commented on #55
@chrisweconect "surveyJSON" is the id of textarea element on the right side. Here is the corresponded html.
`<textarea id="surveyJSON" rows="20" style="width:100%"></textarea>`.

I am sorry, probably I doesn't understand your task.
You have to set the function to saveSurveyFunc callback. In this case the "Save" button will be shown.
On pressing the Save button, this function will be called. In thi

[2017-02-23 08:07] chrisweconect commented on #55
Thanks for your help:

1.)  I set the saveSurveyFunc and I don't see the "Save" button.
2.)  The textarea with id="surveyJSON" is nowhere in the DOM.  I think you only see that id when you use the ace editor.
3.)  I need a function on the editor object to get the JSON generated.  Can you call editor.getSurveyJSON and get the survey JSON somehow?  Is there another js function I can call to get the

[2017-02-23 10:09] andrewtelnov commented on #55
@chrisweconect
1) That is really strange, it works in all examples and the code is pretty straightforward:
[code]
Where koShowSaveButton is used in the data-binding as visible: koShowSaveButton.
I have just looked at your code. You are creating two editors, and you do not set the saveSurveyFunc for an editor bound with "surveyEditorContainer" html element.

2) Chris, the html element is there, the

[2017-02-23 10:28] chrisweconect commented on #55
Got it. Thanks.

[2017-02-23 20:24] we-CONECT-Joe opened #56 "Custom Properties should also appear in the Settings Modal"
currently, custom properties only show up in the "Property window" to the right, but not yet in the settings modal.

I first expected them to be there too, but later found them by accident ;)

can be seen here: http://editor.surveyjs.io/examples/addproperties.html
"tag" is only in the property window but not in the question edit modal popup

best,
Joe

[2017-02-23 20:37] we-CONECT-Joe opened #57 "Add custom properties to Matrix Rows."
It would be nice to have the ability to add custom properties to Matrix rows.

It would open up the way to proper answer categorization =)

best,
Joe

[2017-02-23 21:01] andrewtelnov commented on #56
@we-CONECT-Joe Hm.. I have thought about this code today. I was not happy with the code we have in the question editor (modal window). I have introduced the readOnly attribute in the JsonProperty and wanted to make the inputs in modal window read-only if the attribute is set. I have realized it is a lot of work and code should be re-written.
I think, I will be able to give the ability to modify (a

[2017-02-23 21:05] andrewtelnov commented on #57
@we-CONECT-Joe Could you please describe your scenario? I am not sure about this feature since I can not understand how to make it generic and not hard-coded at the current moment. What UI do you have in mind?

Thank you,
Andrew

[2017-02-24 19:31] hyndsite opened #58 "Hook/Callbacks on changes"
Are there any OnAdd/Update event hooks where a save functionality can be added intuitively when a question is added AND/OR when a question property is updated?

I see some potential hooks available in the OnBeforeAfter of the Module type question, but I am look for a place that would allow passing in function to perform save on adding a question to a survey or updating a question property.

Thanks

[2017-02-24 20:06] andrewtelnov commented on #58
@hyndsite I have just added onModified event. I call it in protected setModified() method.
I have added onQuestionAdded event on this week. You may use it to modify a new created question.
To use them, you have to rebuild the library. Please follow the steps in the readme file.

PS: We are going to work on "auto save" feature, hopefully one the next week.

Thank you,
Andrew

[2017-02-25 22:58] svemula09 opened #59 "Can a survey be restored from where it was left?"
Let's say my user answered 5 out of 10 pages. Next time he logs in can he start from 6th page instead of page 1? I am using reactJS

[2017-02-26 07:22] andrewtelnov commented on #59
@svemula09 Sure, there is the currentPageNo property in the survey model on get and set (from 0 to visible page count - 1).
You may store it in your database by using onCurrentPageChanged event:

[code]

PS: Please create issues in https://github.com/surveyjs/surveyjs/issues for SurveyJS library.
This repo is about SurveyJS Editor.

Thank you,
Andrew

[2017-02-27 14:21] hyndsite commented on #58
Thanks @andrewtelnov

[2017-02-27 14:21] #58 closed

[2017-02-27 14:24] hyndsite opened #60 "Pagination and Loading Capability"
Currently, it appears that survey's can be sectioned by the use of pages, but it still requires all pages, questions (the entire survey) when loading the survey.

Is there any capability (or future plan) of allowing survey.js to load only a "page" of a survey, and make subsequent calls for additional pages when needed?

[2017-02-27 17:27] andrewtelnov commented on #60
@hyndsite As I understand, there is a logic on the server, that generate pages and questions based on the answers, am I right?
Why don't you want to include the logic on the client? You may make the page/question visible/invisible by using visibleIf page/question property.
surveyjs should work with pretty large surveys. I have not seen surveys that has a performance issue. If there are these surve

[2017-02-27 19:58] we-CONECT-Joe commented on #57
Well simply put every row in a matrix question represents a common "topic".

Lets say an example would be cars and we have the following table:

What are your favorite cars?
Lable  |  How much do you like it | have you driven one |  did you ever own one
Mercedes | 5 Stars | Yes | Yes
BMW | 4 Stars | Yes | No

Ok so fare so good,  each of the rows, represent an Answer for the Cars, which are my fav

[2017-02-27 20:53] andrewtelnov commented on #57
@we-CONECT-Joe. I think you are talking about Dropdown matrix question. Rows is the array of ItemValue.
You may use it in json as "Mercedes" or {value: "Mercedes", text: "Mercedes Benz"}
If text is undefined, it uses the value.
ItemValue is a generic class in SurveyJS. It uses it many other questions, for example dropdown and radio group (choices property).
In fact ItemValue supports custom attrib

[2017-02-27 22:45] hyndsite commented on #60
Unfortunately, though it might not have surfaced yet, there will be that client corner case where they push the boundaries of question count.

But fortunately, from what I see in the current base code, is that survey.js will take (valid) json that makes up a survey, without actually knowing if it is the entire survey.  So if your server side code renders JSON that is only part of the survey (e.g.

[2017-02-28 12:11] #60 closed

[2017-02-28 12:42] andrewtelnov commented on #60
@hyndsite Forgot to mention. If you decided to try to go this way, then these properties you may find useful:
survey.questionStartIndex - you may set it to 28, so the first question will be the 28.
survey.pageNextText, survey.pagePrevText and survey.completeText - the text of corresponded buttons.
Events: onCurrentPageChanged, onComplete.

Thank you,
Andrew

[2017-03-01 10:10] chrisweconect commented on #50
@andrewtelnov - Any updates making the "name" field read-only?  Or making the "name" field a unique ID?  Looking forward to this update.

Thanks,
Chris

[2017-03-01 13:12] andrewtelnov commented on #50
@chrisweconect I am working on it right now. I have introduced readonly attribute for JsonProperties a week ago: https://github.com/surveyjs/surveyjs/commit/929917d53d1b9a68a58acebcfe5bce14e231b3db
At the current moment I am changing the editor.
I'm fully refactoring the first ("General") tab of the Question Editor. I want to give the ability to add/remove properties and customize the layout of "G

[2017-03-01 14:09] chrisweconect commented on #50
@andrewtelnov - Thanks!

I look forward to this new release.

Chris

[2017-03-02 14:40] garrett-thompson opened #61 "Form submit on "enter""
In all text-based questions, if you hit "enter" while the field is in focus it will cause a form submit causing the page to reload.

survey.js needs to catch this event, `preventDefault()`, and instead fire a "page next".

[2017-03-02 14:44] mellogarrett commented on #61
Actually this is not all text-based questions, but it for sure happens within an "Other" Comment box

[2017-03-02 20:09] andrewtelnov commented on #61
@mellogarrett I am not sure, that it should be the default behavior. Anyway, we will discuss this.

Thank you,
Andrew

[2017-03-03 11:00] andrewtelnov opened #62 "Question Editors: Make it fully customizable"
Question Editor is a modal dialog that shows on clicking "Edit" button in the right-top corner of a question in the designer.
It allows to see all most important properties of the question in one modal dialog.
The first version was hard coded. The editor looked for the registered Question Editor by question type. If it doesn't exists, then looked for a question parent.
It requires to write  code t

[2017-03-03 11:29] andrewtelnov commented on #52
It is implemented. Here is the code to make a property readonly:
`Survey.JsonObject.metaData.findProperty("questionbase", "name").readOnly = true;`

[2017-03-03 11:30] andrewtelnov commented on #50
@chrisweconect
It is implemented:

[2017-03-03 19:20] andrewtelnov commented on #62
The JSON definition: https://github.com/surveyjs/editor/blob/master/src/questionEditors/questionEditorDefinition.ts

[2017-03-06 06:59] muhfred opened #63 "please consider the following enhancements"
First of all thank you for your awesome work. it's really appreciated. please consider the following to enhance the overall user experience.

1. In single input question:
-  The ability for a user to change the input type of “date, datetime, datetime-local” to be                 mm/dd/yyyy or dd/mm/yyyy, 24H format or AM, PM format
-In input type (week, month) the user should see the calendar view

[2017-03-06 08:27] andrewtelnov commented on #63
@muhfred There are a lot of improvements and most of them make sense. Unfortunately, some of them could not be added directly into the product, like select2, but there should be a demo, how to include this functionality into the product.
I will be back to this issue later. Some of items we will likely implement, make demos for others and will discuss the rest.

Thank you!
Andrew

[2017-03-06 09:06] andrewtelnov commented on #63
[code]

[2017-03-07 14:48] andrewtelnov commented on #63
Add rows along with columns in Edit. - Yes, it was fixed several days ago.
All other enhancements are about matrix dropdown. The column designer has been rewritten completely. I was working on it for several days.
Here is new properties in the dropdown column: https://github.com/surveyjs/surveyjs/issues/286

Thank you,
Andrew

[2017-03-07 14:56] andrewtelnov opened #64 "Improve the dropdown column property editor"
The previous property editor was not great and adding [a lot of new properties](https://github.com/surveyjs/surveyjs/issues/286) would make it unusable completely.

We have decided to change its UI and rewrite.

Thank you,
Andrew

[2017-03-09 12:52] andrewtelnov commented on #63
It is implemented.

[2017-03-10 17:16] andrewtelnov commented on #64
Implemented

[2017-03-10 17:16] #64 closed

[2017-03-10 17:16] andrewtelnov commented on #62
Impelemnted, Demo is [here](http://editor.surveyjs.io/examples/questioneditor.html)

[2017-03-10 17:16] #62 closed

[2017-03-10 17:18] andrewtelnov commented on #63
Your first item is about implementing custom widgets. Please review [this demo](http://editor.surveyjs.io/examples/customwidgets.html)

[2017-03-10 17:19] andrewtelnov commented on #63
The 6-th topic is also implemented in [custom widget demo](http://editor.surveyjs.io/examples/customwidgets.html)

[2017-03-10 17:19] #55 closed

[2017-03-10 17:21] andrewtelnov commented on #56
@we-CONECT-Joe It is implemented. Please take a look at [the following demo](http://editor.surveyjs.io/examples/questioneditor.html) and read the description

[2017-03-10 17:21] #56 closed

[2017-03-10 17:21] andrewtelnov commented on #54
Implemented. The demo is [here](http://editor.surveyjs.io/examples/customwidgets.html)

[2017-03-10 17:21] #54 closed

[2017-03-10 17:22] andrewtelnov commented on #52
Done. Here is the [demo](http://editor.surveyjs.io/examples/oncreatequestion.html)

[2017-03-10 17:22] #52 closed

[2017-03-10 17:22] andrewtelnov commented on #53
Fixed

[2017-03-10 17:22] #53 closed

[2017-03-10 17:22] #35 closed

[2017-03-10 17:25] andrewtelnov commented on #17
@myselflokendra It is possible to use third-party widgets now. It give unlimited possibilities. Here is the [demo](http://editor.surveyjs.io/examples/customwidgets.html).

[2017-03-10 17:25] #17 closed

[2017-03-10 17:26] andrewtelnov commented on #10
The [demo](http://editor.surveyjs.io/examples/questioneditor.html) is added

[2017-03-10 17:26] #10 closed

[2017-03-10 17:27] andrewtelnov commented on #50
@chrisweconect Here is the [demo](http://editor.surveyjs.io/examples/oncreatequestion.html)

[2017-03-10 17:27] #50 closed

[2017-03-10 17:27] #59 closed

[2017-03-10 17:28] andrewtelnov commented on #51
Here is the [demo](http://editor.surveyjs.io/examples/oncreatequestion.html)

[2017-03-10 17:28] #51 closed

[2017-03-12 16:36] muhfred commented on #63
Thank you andrew, just have a couple of questions, is this project open for contribution?, and can I buy a licence with one time payment option?

[2017-03-12 19:42] andrewtelnov commented on #63
@muhfred  Sure, the project is open for contributions.
However, surveyjs Editor is not under MIT license and you will have to sign a contribution agreement. Github has something built-in; we have to read about it.
Of course, it is not a problem, if you are talking about bug fixes or localizations. If you are talking about a large enough functionality, it is better discuss with us before you start.

[2017-03-13 19:05] MohabElgammal opened #65 "properties names"
Hi andrew, love surveyEditorjs, great work, could you please change or walk me through on how to change the properties names? they seem complicated and not straight forward for the user to understand. Thank you.

[2017-03-14 07:15] andrewtelnov opened #66 "Localization doesn't work if the property doesn't translate."
It gets the stack-overflow error.
Additionally export the editorLocalization property.

[2017-03-14 09:23] andrewtelnov commented on #66
Fixed-

[2017-03-14 09:23] #66 closed

[2017-03-14 09:23] andrewtelnov commented on #65
@MohabElgammal I guess you are actually talking about localization. I have just made an example: http://editor.surveyjs.io/examples/localization.html#code

Please note, that you have to used cdn version: https://github.com/surveyjs/builds or rebuild the sources.
There was a bug: https://github.com/surveyjs/editor/issues/66

Thank you,
Andrew

[2017-03-14 12:31] MohabElgammal commented on #65
sorry andrew, I mean the properties area for each survey, page and question that appears on the right, can we change the names of each property or show me how to change them, Thanks

[2017-03-14 13:01] andrewtelnov commented on #65
@MohabElgammal http://editor.surveyjs.io/examples/localization.html#code does exactly what you need.

[2017-03-15 07:33] daitd58 opened #67 "Angular 2 support"
Hi, I'm using the survey angular 2. How can I integrate the survey editor to  my project? I've tried to using the survey editor to my angular 2 project but it gets many problems. Any advice?

Thanks.

[2017-03-15 07:42] andrewtelnov commented on #67
@daitd58 Unfortunately SurveyJS Editor supports knockout only at the current moment.
Basically the question is: how to use a knockout widget inside angular 2 app. You may google it, there are some examples.
We will make examples how to use the editor in all popular frameworks, at least in all frameworks, that surveyjs library supports.
I have just added this task into our TODO list and we will wor

[2017-03-15 09:26] daitd58 commented on #67
Thanks. Hope your team can make the example for all frameworks that surveyjs library support soon.

[2017-03-15 10:33] MohabElgammal commented on #65
@andrewtelnov Do you mean that if i changed the English text strings, it would update the properties Area??

[2017-03-15 10:42] andrewtelnov commented on #65
@MohabElgammal Exactly, in this example isRequired question property shows as "Wird benötigt".
[code]
Drop a question and look at it's properties in [the demo](http://editor.surveyjs.io/examples/localization.html)

You may change all editors strings, just look at defaultStrings property in this file: https://github.com/surveyjs/editor/blob/master/src/editorLocalization.ts

[2017-03-15 11:07] MohabElgammal commented on #65
@andrewtelnov thank you very much

[2017-03-15 23:15] joshreid commented on #24
@dmitrykurmanov @andrewtelnov Do you have any view on when a react version may be available?

[2017-03-16 06:59] andrewtelnov commented on #24
@joshreid I have tried to divide a knockout and core code of the editor couple months ago. I have understand that it would require a lot of time and we have decided to postpone this task for a while.
However, we are going to create examples of using our editor in different platforms, including react.
In fact, since we've got several requests about this just on this week, we have decided to work on

[2017-03-16 07:10] joshreid commented on #24
Thanks Andrew, that sounds great!

[2017-03-19 14:05] muhfred commented on #63
Dear Andrew,
Can you please give me feedback regarding the following point?:
-Adding icons for questions and answers.
Thanks

[2017-03-19 14:08] muhfred commented on #63
Dear Andrew,
I tried to Remove dots in properties dropdown list, but empty spaces doesn't seem to be intended.
//"..." is the default value.
SurveyEditor.SurveyObjects.intend = "  ";
Thanks.

[2017-03-19 14:12] muhfred commented on #63
Dear Andrew,
Did you think about the following points:
3- A tooltip should appear at the plus sign of add page.
5- In checkbox question:
- In fast Entry remove values and values should be generated by default 1, 2, 3, 4….etc., and if values exceeded 9 the values should appear, 01 ,02, 03, 04….10
- In form entry switch value and text positions.
- Add rotating order to choices order.
7-Add filter by

[2017-03-19 19:40] andrewtelnov commented on #63
@muhfred Yes, I forgot to export SurveyObjects. This code current gives you an error.
I have added a new options: objectsIndend. After releasing v0.12.5 you will be able to set it in options:

[code]

Thank you,
Andrew

[2017-03-19 19:50] andrewtelnov commented on #63
3 - I have added a tool tip
5 -

Many people would be unhappy with this decision.  What if I have to enter the states as: TX,Texas?

You may do not enter the text, in this case value will be used as a text

Could you explain please, what should it do?

I wanted to use select2 as objects selector, if select2 is included.

You have all these functionality in matrix dropdown question.  You may have o

[2017-03-20 06:28] tsv2013 commented on #67
@daitd58 We've prepared example how to use SurveyJS and SurveyJS Editor in the Angular2 application. You can check the [surveyjs_angular_quickstart](https://github.com/surveyjs/surveyjs_angular_quickstart) repo.

[2017-03-20 12:52] andrewtelnov commented on #24
@joshreid, @tsv2013 has created a repo to start with react and SurveyJS Editor: https://github.com/surveyjs/surveyjs_react_quickstart
Could you please try it out?

Thank you,
Andrew

[2017-03-20 20:08] joshreid commented on #24
Awesome Andrew, thanks.

Just missing icomoon to compile on start (do you want to start a thread against new repo?):

`Failed to compile.

Error in ./~/surveyjs-editor/surveyeditor.css
Module not found: ./fonts/icomoon.eot in [...]/surveyjs/node_modules/surveyjs-editor

 @ ./~/css-loader?importLoaders=1!./~/postcss-loader!./~/surveyjs-editor/surveyeditor.css 6:10143-10180 6:10203-10240`

[2017-03-21 05:06] tsv2013 commented on #24
@joshreid Thank, you! I've fixed it with 47715c6ac06e84dbc93eb69fb2b3d42f6e512dc1 commit. Fix will be available with the nearest update. Can you as a temporary workaround copy https://github.com/surveyjs/editor/tree/master/src/fonts content in to the "fonts" folder of the "node_modules/surveyjs-editor" folder?

[2017-03-22 00:14] joshreid commented on #24
Excellent - though it needs the folder as well - so I copied in fonts/* and it runs!

[2017-03-22 06:00] tsv2013 commented on #24
@joshreid Good news!

[2017-03-22 06:00] #24 closed

[2017-03-28 02:12] daitd58 commented on #67
@tsv2013 Could you make an example to use SurveyJS and SurveyJS Editor with angular cli? Thanks.

[2017-03-28 06:56] tsv2013 commented on #67
@daitd58 Do you mean [this](https://cli.angular.io/) tool?

[2017-03-28 06:58] daitd58 commented on #67
@tsv2013 yes. My project bases on that.  Hope you can make a demo for me? Thanks.

[2017-03-28 07:00] tsv2013 commented on #67
@daitd58 Sure :)

[2017-03-28 07:01] daitd58 commented on #67
@tsv2013 👍. Please make it on this day :D.

[2017-03-28 08:38] tsv2013 commented on #67
@daitd58  You can check the https://github.com/surveyjs/surveyjs_angular_cli repo.

[2017-03-28 08:51] daitd58 commented on #67
@tsv2013 I don't see where you import SurveyJS and SurveyJS Editor?

[2017-03-28 08:56] tsv2013 commented on #67
@daitd58 You are right. I forgot to commit changes. Please check the 22d5cd2e1d49eccd1b52d1c3fce4feab185b8a36 commit.

[2017-03-28 08:59] daitd58 commented on #67
@tsv2013 Yeah. I see it. Thank you. You saved me ✌️

[2017-03-29 21:48] hyndsite opened #68 "Issue Transpiling main.scss"
When running the webpack build, it dies when it attempts to transpile the /src/main.scss sass file with the following error - any suggestions?

I have tried it with both node 5.9.1, 6.9.2 and the same versions of npm packages dictated in the project's package.json

[code]

[2017-03-29 23:38] joshreid commented on #6
Hi @andrewtelnov is it possible to pass a Localization strings object as a survey or editor component option?

This would enable the updating of the strings from outside the src.

[2017-03-30 06:19] andrewtelnov commented on #6
@joshreid The current approach is the following:
http://editor.surveyjs.io/examples/localization.html#code
There is a global object and you may add your own localization and change the current locale (default is "en").
Adding a locale property or parameter in the options would make sense if you want to have two editors on the page with different locales.
Otherwise the current approach should work

[2017-03-30 07:57] tsv2013 commented on #68
Probably the problem is in some dev dependency. I've locked dependencies versions, and project is building ok on my machine as well as on TravisCI.
@hyndsite Could you please pull latest version from repo, remove "node-modules" folder, reinstall npm modules (via "npm i" command) and try to rebuild?

[2017-03-30 08:00] #67 closed

[2017-03-30 08:03] #65 closed

[2017-03-30 12:47] xibman opened #69 "WIP:French translation"
Hi all the french translation for the editor.

Just two keys i don't find in the editor to have the context for translation:

- addRowText: "Add row button text",
- removeRowText: "Remove row button text",

[code]

[2017-03-30 14:30] andrewtelnov commented on #69
@xibman At first thank you for sharing your localization!
I made a commit on your behalf.

Please drop on editor a matrix dynamic question and click on "Edit"  to open the question editor.
On the main/general tab you will see it. This properties allows you to modify matrix dynamic question buttons text, for add and remove buttons.

Thank you,
Andrew

[2017-03-30 18:47] xibman commented on #69
Completed with : https://github.com/surveyjs/editor/pull/70

[2017-03-30 23:45] joshreid commented on #6
Ah yes! Thanks @andrewtelnov

[2017-03-31 17:33] #68 closed

[2017-04-03 22:57] SlowburnAZ opened #71 "ShowQuestionNumbers property"
When passing options to the editor, I can't seem to initialize the editor with the 'showQuestionNumbers' option set to "off".

I've tried passing in
`
{
  ...,
  showQuestionNumbers: false,
  ...
`

and also

`
{
  ...,
  showQuestionNumbers: 'off',
  ...
}
`

and neither seems to work.  Do I have the right option property name?

[2017-04-04 06:51] andrewtelnov commented on #71
@SlowburnAZ showQuestionNumbers is the survey property and not editor.
You may set it via editor.text:
`editor.text = "{ pages: [ { name: 'page1'}], showQuestionNumbers: 'off' }";`
It may be useful to change the default options in the survey, so for example showQuestionNumbers will have the default value as 'off'.
However,  to be honest, I am not sure about this functionality. It may lead to other

[2017-04-04 09:19] xibman commented on #6
Hou have now french local for example

[2017-04-04 09:44] #69 closed

[2017-04-04 10:00] andrewtelnov commented on #6
@xibman The developer version contains the french localization, thanks to you!
However the last released version, doesn't. You may wait several days, we are going to release the next update on this week (we are going to introduce the "Panel" concepts, https://github.com/surveyjs/editor/tree/panel), or build the current developer version by yourself following steps in the ReadMe file: https://githu

[2017-04-04 16:54] SlowburnAZ commented on #71
Ah, my mistake.  I thought it could be used in the editor so that then the numbers wouldn't show in the survey when rendered.  I'll just set the prop before rendering the survey on the page.

Thanks!

[2017-04-04 16:54] #71 closed

[2017-04-05 14:44] muhfred commented on #63
Dear Andrew,
Can you please give me feedback regarding the following point?:
-Adding icons for questions and answers.
Thanks

[2017-04-05 14:50] muhfred commented on #63
Add search function for question name or question type next to "save survey" button.

Thanks, Andrew

[2017-04-05 15:00] MohabElgammal opened #72 "Bulding issue"
Dear Andrew:-
I got this issue while building last version

 ERROR in ./src/surveyObjects.ts
(119,43): error TS2339: Property 'elements' does not exist on type 'Page'.

ERROR in ./src/surveyObjects.ts
(124,68): error TS2694: Namespace '"D:/projects/asp.net/Kadia/survey/src/editor-0.12.5/node_modules/survey-knockout/survey.ko"' has no exported member 'IElement'.

ERROR in ./src/surveyObjects.ts
(12

[2017-04-05 15:05] MohabElgammal opened #73 "VisibleIF GUI"
Dear Andrew:-
add GUI for visibleIF function
Thanks

[2017-04-05 17:11] andrewtelnov commented on #63
@muhfred

I am not sure what do you mean. Do you want to have an image before title?
There is a request of adding markup support for title. I think it is the way to go. In this case, you may do what ever you want.

It is in our TODO list.

[2017-04-05 17:13] andrewtelnov commented on #72
@MohabElgammal You "elements" and other methods were added into surveyjs v0.12.6. Please make sure that you are reference the correct version.

Thank you,
Andrew

[2017-04-05 17:15] andrewtelnov commented on #73
@MohabElgammal It is in our TODO list. Unfortunately, it is quite large and complex task that is why we have to postpone it.
Anyway, you can be sure, that we will work on it as well. I personally, understand the importance of having easy to use VisibleIf Editor.

Thank you,
Andrew

[2017-04-06 12:41] andrewtelnov opened #74 "Could not delete an element from the Panel"

[2017-04-06 13:13] pierrecharlesp opened #75 "compatibility"
Thanks for great job.
Which version of firefox is compatible with survey.js ?
I meet issues with VisibleIf property and firefox ESR 45.3.
VisibleIF isn't working. Page doesn't appear.

Many thanks.

[2017-04-06 13:25] andrewtelnov commented on #75
@pierrecharlesp What version of surveyjs do you using? react. jquery, knockout?

Thank you,
Andrew

[2017-04-06 13:36] pierrecharlesp commented on #75
jquery

[2017-04-06 13:36] pierrecharlesp commented on #75
do you advice me to use React or Knockout ?

[2017-04-06 13:37] muhfred commented on #63
@andrewtelnov for example, if added a Radio Group question (Gender), it would be awesome if we could add an icon next to Gender question, also add icons for each choice (male, female).
Thank you.

[2017-04-06 14:33] andrewtelnov commented on #75
@pierrecharlesp we will investigate the issue. @tsv2013 is working on it: https://github.com/surveyjs/surveyjs/issues/322

[2017-04-06 14:36] andrewtelnov commented on #63
Aha, I got you now. I have added this functionality into our TODO list.

Thank you,
Andrew

[2017-04-06 15:23] tsv2013 commented on #72
@MohabElgammal Probably "npm update" resolves this.

[2017-04-09 11:49] muhfred opened #76 "Bar Rating Custom Widget Throws Error editor version 0.12.6"
Dear Andrew,
When I try to use the custom widget bar rating, It appears in the question types, but when I try to add the question it throws the following error in the console window:

`knockout-3.3.0.js:66 Uncaught TypeError: Unable to process binding "foreach: function (){return { data:row.koElements,as:'question',afterRender:row.koAfterRender} }"
Message: Unable to process binding "if: function

[2017-04-09 15:44] andrewtelnov commented on #76
@muhfred Please check that you are using library and editor the same version. The latest version is 0.12.6.
The following example works fine: http://editor.surveyjs.io/examples/customwidgets.html

Thank you,
Andrew

[2017-04-10 06:23] andrewtelnov opened #77 "Optionally use select2 for element selector"
If select2 plugin exists, apply it for for element selector.

[2017-04-10 07:28] tsv2013 commented on #75
@pierrecharlesp All SurveyJS library platfroms should work identically. Editor uses KnockoutJS internally. I'm closing this as a duplicate of https://github.com/surveyjs/surveyjs/issues/322. Could you please check updated thread?

[2017-04-10 07:28] #75 closed

[2017-04-10 14:20] MohabElgammal commented on #73
Ok,I'm waiting
Thank you for your efforts,
Mohab

[2017-04-10 14:23] andrewtelnov commented on #63
@muhfred Please take a look on element selector (dropdown) http://surveyjs.org/builder/
It can use select2 plugin, if select2 is included on the page: https://github.com/surveyjs/editor/issues/77

[2017-04-10 14:26] dmitrykurmanov opened #78 "email validation for multiple text doesn't work correctly"
**JSON:**

[code]

**RESULT:**
![c5b0b00f41](https://cloud.githubusercontent.com/assets/22315929/24866459/d5bf5f4c-1e12-11e7-9614-e577f8c79a6b.jpg)

[2017-04-10 15:49] MohabElgammal opened #79 "Shortcuts"
Dear Andrew,
I want from you To add answers of questions of  using keyboard shortcuts
Example:your gender? Male(m),Female(f)
Thank you,
Mohab

[2017-04-10 20:03] andrewtelnov commented on #79
@MohabElgammal It will be relatively easy to add accessKey into question title.
There is another story about choices property. At the current moment it is an array of ItemValue objects, with two properties: value and text. It will require a lot of work to implement it. Unless other people ask about this functionality, I would postpone it.
Do you know any survey that has this functionality?

Thank

[2017-04-11 16:22] MohabElgammal commented on #79
Thank you Andrew for your quick response
yes,it is available in most of the surveys run throw agent to make it easy
the only thing required is to add field in the answer propriety which we can call it for example: stroke key and when the user define the answer is male and the stroke key is (m),i will use this field when i puplish the survey for the agent to be use  the keyboard with the shortcut k

[2017-04-12 11:50] andrewtelnov commented on #79
@MohabElgammal I have added into our TODO list, but I have to say, we are not really enthusiastic about this functionality. I am not sure how to set an accessKey in the survey JSON model and UI for editing it in the SureyJS Editor.
At the current moment a markdown support in title and choices.text is in our radar. There are many requests that can be resolved by using a markdown.

Thank you,
Andrew

[2017-04-13 21:24] MohabElgammal commented on #79
ok
Thank you for your efforts,
Mohab

[2017-04-18 11:13] #74 closed

[2017-04-18 11:14] andrewtelnov commented on #63
@muhfred We have added the markdown support. So icons and many other markdown features are available:
http://surveyjs.org/examples/knockout/survey-markdown-radiogroup.html
http://surveyjs.org/examples/knockout/survey-markdown-matrix.html

Thank you,
Andrew

[2017-04-20 21:01] summer0nguyen opened #80 "Survey editor build failed with Meteor"
I'm building Survey Editor with meteor and React.

W20170421-04:00:32.102(7)? (STDERR) 						throw(ex);
W20170421-04:00:32.102(7)? (STDERR) 						^
W20170421-04:00:32.103(7)? (STDERR)
W20170421-04:00:32.103(7)? (STDERR) TypeError: Cannot set property 'emulateTransitionEnd' of undefined
W20170421-04:00:32.103(7)? (STDERR)     at webpack:///~/bootstrap/js/transition.js:39:1
W20170421-04:00:32.104(7)

[2017-04-21 10:42] dmitrykurmanov commented on #80
@summer0nguyen, hello! Could you please specify surveyjs-editor version? And t would be greate it you provide an example for debugging.

[2017-04-21 11:55] summer0nguyen commented on #80
Dear @dmitrykurmanov , thank you for replying.
I used the latest version of surveyjs-editor.

I used rubix410.sketchpixy.com/ltr/social as a seed project with : React , Webpack .

[2017-04-22 15:39] andrewtelnov commented on #78
@dmitrykurmanov There is validators property on the multiple text item level. I've just added an editor for it. So it should be:
[code]

Thank you,
Andrew

[2017-04-22 15:39] #78 closed

[2017-04-23 07:15] summer0nguyen commented on #80
I think it's not a problem of survey-editor :)
Great job

[2017-04-23 07:15] #80 closed

[2017-04-23 08:34] summer0nguyen opened #81 "Survey Save and import"
Hello,
I am making Survey using SurveyJS with React.

I have problem in exporting text from SurveyEditor and importing the text to SurveyReact .

Here is the code on Survey Editor :

[code]

Here is the code on Survey JS

[code]

I think it's simple to you. But I don;t know how to fix.
Do you have any idea.
Thank you

[2017-04-24 06:09] summer0nguyen commented on #81
Hello,
I found that you are using JSON5 ( your own version ) in survey-editor .
I saved the JSON5 string ( editor.text) to my database.
And When I load the text to survey :

[code]

I wonder if it raise any further errors  OR any better solution for saving the text.
Thank you very much

[2017-04-24 06:17] andrewtelnov commented on #81
@summer0nguyen You may simply turn-on generateValidJSON option in the editor:
Here is the docs: http://editor.surveyjs.io/examples/options.html#code

Thank you,
Andrew

[2017-04-24 06:23] andrewtelnov opened #82 "Breaking change: Generate the valid JSON by default"
At the current version, v0.12.10 and early, Editor generates JSON5. It is easily for reading. However, there are issues on different back-ends with JSON5.
The easiest solution, generate valid JSON by default and turn-on JSON5 on surveyjs.org/builder and dxsurvey.com.

[2017-04-24 06:23] andrewtelnov commented on #81
I will make a valid JSON generation as a default one, https://github.com/surveyjs/editor/issues/82

[2017-04-24 06:24] #77 closed

[2017-04-24 06:27] summer0nguyen commented on #81
Awesome .
 I'm stuck at this for a long time.
Thank you very much.  .
You did a very great job.

[2017-04-24 06:27] #81 closed

[2017-04-24 10:57] muhfred commented on #63
That is so awesome thank you.

[2017-04-24 12:31] MohabElgammal opened #83 ".Dist folder"
### Are you requesting a feature, reporting a bug or ask a queation?
No

### What is the current behavior?
after building the latest version 0.12.11, i can't find The (.dist) folder, so i can include the javascript files

### What is the expected behavior?
 i want to include the javascript files after building

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the

[2017-04-24 13:18] dmitrykurmanov commented on #83
@MohabElgammal, hello! 'dist' was renamed to 'package' and we fixed our readme, thanks!

[2017-04-24 13:23] MohabElgammal commented on #83
i can't find the package folder either

[2017-04-24 13:26] dmitrykurmanov commented on #83
@MohabElgammal I can't reproduce it. Do you have any errors during the build?

[2017-04-24 13:52] MohabElgammal commented on #83
OK,i finally got it
Thanks

[2017-04-24 13:56] #83 closed

[2017-04-24 18:39] summer0nguyen opened #84 "Survey Editor Trigger : Complete Survey not working"
Hello,
I found that the complete survey trigger does not work anymore on : 0.12.11 and 0.12.10

I created a survey : http://surveyjs.org/builder/#b79fb49c-d400-4c85-b486-c2e4ffb67857

with 2 questions and 1 Trigger: Close the survey if question1 = 0

But when I choose  0  ( No, please close) . Nothing happens.

I remember testing it worked on previous version .

Could you please have a look at thi

[2017-04-25 06:43] andrewtelnov commented on #84
@summer0nguyen Please add one more page and you will see that it still working. It triggers on pressing the "Next" page button.

Thank you,
Andrew

[2017-04-25 06:43] #82 closed

[2017-04-25 09:42] summer0nguyen commented on #84
Dear @andrewtelnov : thank you very much.
I got it

[2017-04-25 09:43] #84 closed

[2017-04-25 14:06] varunkumar opened #85 "Complex conditions in trigger"
Is there a way to define complex conditions (AND, OR) in setValue trigger?

[2017-04-25 14:11] andrewtelnov commented on #85
@varunkumar Unfortunately, you can't do it right now.
You have to use onValueChanged event: http://surveyjs.org/examples/jquery/survey-data.html

[2017-04-26 03:20] GeorgeBB opened #86 "Locale list customization?"
Greetings! Is it possible to customize the locale option lists in editor?
Appreciated!

[2017-04-26 06:57] andrewtelnov commented on #86
@GeorgeBB I think we will make it similar to wiki language choice:
العربية
Azərbaycanca
বাংলা
Български
Bosanski
Català
Čeština
Cymraeg
Dansk
Deutsch
.....
If you are ok with it, we  add this in out TODO list.

Thank you,
Andrew

[2017-04-26 07:41] GeorgeBB commented on #86
Great response!

Just thinking that it would be much more flexible if user can customize the choices of language.  For example, only English and Portuguese are configured to be available to select in the locale dropdown in editor, because users may only focus on certain languages they need.

Cheers!

[2017-04-26 07:49] andrewtelnov commented on #86
@GeorgeBB Yes, it makes sense as well. I have created a card in our TODO list and added the ability to filter the choices.

Thank you,
Andrew

[2017-04-26 08:34] GeorgeBB commented on #86
Thanks to your attention and efforts!
Cheers!

[2017-05-05 15:13] chrisweconect opened #87 "onRowAdded / onColumnAdded (and removed)"
Hi,

I'm generating custom UUID's for each question name like in your example here: http://editor.surveyjs.io/examples/oncreatequestion.html#code

It works fine.

I'm now trying to generated a custom UUID for in the "name" field in columns and "value" field on question rows in Matrices.  I use the onQuestionAdded callback for that and it works great.

However - if a user **adds** a row or column,

[2017-05-06 11:49] muhfred opened #88 "How to set default answers when adding a question"
### Are you requesting a feature, reporting a bug or ask a queation?

question

### What is the current behavior?

when adding a checkbox question, it automatically sets defaults answers, how can I adjust this default answers?

### What is the expected behavior?

when adding a checkbox question, I want to be able to set the default answers when the question is added.

### How would you reproduce t

[2017-05-07 09:38] andrewtelnov commented on #88
@muhfred There is an example, that does exactly what you need. Please read this document for the example: http://editor.surveyjs.io/examples/toolboxcustomization.html#code

[2017-05-07 09:57] andrewtelnov commented on #87
@chrisweconect I have been thinking about your suggestion. I have to admit, that it looks interesting to me.
I have two questions:
1) Do you want to have this functionality just for matrix, or for checkbox/radiogroup/dropdown.choices as well? I may add an event for ItemsValue Editor on adding a new item.
2) Frankly, you do not need to show "Value" column in your customized editor at all. It will j

[2017-05-07 10:36] andrewtelnov commented on #88
@muhfred Please read the doc carefully. It is probably needs to be improved, but all methods are there.

[code]

[2017-05-07 11:03] muhfred commented on #88
@andrewtelnov OK got it, Thank You.

[2017-05-08 09:59] chrisweconect commented on #87
@andrewtelnov - Thanks for your quick reply (as always).

1.) For the non-matrix questions, the onQuestionAdded works **okay**.  It's not optimal, however, because it's very general.  For example, it also fires when simply **sorting** the questions on the page.  Not sure we want that happening. But for now, it works okay on non-matrix questions.

2.)  It would be very helpful to have an "**onQuest

[2017-05-09 01:13] joshreid commented on #87
Hi Andrew
I am trying to do just the same thing, but for all selectbase (question with choices) - I want to set the choice values to a guid on add and hide the value from editor for all - so the user only sees and enters the text.
Look forward to your thoughts, thanks!

[2017-05-09 05:53] andrewtelnov opened #89 "Add events to setup a new added ItemValue (choices Row) and a matrix column"
The value for choices, matrix.columns and matrix.rows maybe auto generated. For example, by setting UUID  into value.

[2017-05-09 10:10] andrewtelnov commented on #89
Two new events have been added:
editor.onItemValueAdded - calls when a new item in checkbox/dropdown/radigroup choices, matrix.columns, matrix.rows, matrixdropdown.rows.
editor.onMatrixColumnAdded - calls when a new column in matrixdropdown or in matrixdynamic is added.
Here is the example of using:
[code]

[2017-05-09 10:12] andrewtelnov commented on #87
@chrisweconect and @joshreid please take a look at: https://github.com/surveyjs/editor/issues/89
It will come with the next minor update, likely on this week.

Thank you,
Andrew

[2017-05-09 10:51] chrisweconect commented on #89
@andrewtelnov - Great!  Thanks very much, Andrew.

[2017-05-09 11:09] chrisweconect commented on #87
@andrewtelnov - Thanks very much.

[2017-05-11 03:22] joshreid commented on #1
Hi Andrew

This looks like an issue still/again (??)
Can replicate on [http://editor.surveyjs.io/examples/options.html]
Firefox PC/Mac 52.0.1

Can drag toolbox item, but when it's dropped the page navigates to empty url.

![screen shot 2017-05-11 at 3 21 46 pm](https://cloud.githubusercontent.com/assets/167671/25931003/985403e8-365d-11e7-8143-9cb5408ed750.png)

Maybe it should be a new issue?

[2017-05-11 03:25] joshreid commented on #89
This is awesome Andrew thanks!!!

[2017-05-11 05:58] andrewtelnov commented on #1
@joshreid Yes, I was able to reproduce it. on my version of FF.

[2017-05-11 07:43] tsv2013 commented on #1
@joshreid We've fixed it with the 709e481f65280921978f3b8d58f54851cd6ee9b6 commit. We will release an update today.

[2017-05-11 07:48] joshreid commented on #1
Thanks Andrew - As always stella work.

[2017-05-11 13:08] tsv2013 commented on #1
0.12.14 has been released

[2017-05-11 13:08] #1 closed

[2017-05-16 06:40] krishnathamisetty opened #90 "Checkbox Radiogroup hascomment hasother is not working properly"
### Are you requesting a feature, reporting a bug or ask a queation?
bug

### What is the current behavior?
For Checkbox, Radiogroup:
1. When user selected hasOther = true and enter otherText (Other (please specify), otherText is not reflecting on "Survey Designer" as well on "Test Survey", "Other (please specify)" is showing when user clicks on "Other (describe)" at the time of "Test Survey".
2.

[2017-05-16 07:15] krishnathamisetty opened #91 "Multiple Text questions -- name (text1, text2) is not changing immediately"
### Are you requesting a feature, reporting a bug or ask a queation?
bug

### What is the current behavior?
While editing Multiple Text --> Items --> when I updated Name: text1, text2 with some other text is not reflecting immediately until unless when I refresh the page or clicking any other tab on survey editor

### What is the expected behavior?

### How would you reproduce the current behavior

[2017-05-16 09:16] andrewtelnov commented on #90
@krishnathamisetty Bugs have been fixed.

Thank you,
Andrew

[2017-05-16 09:36] andrewtelnov commented on #91
It is fixed.
Thank you, Andrew

[2017-05-16 10:23] krishnathamisetty commented on #90
Thanks Andrew for your quick response.
I verified your fix using survey editor which is available @ http://surveyjs.org/builder/. Do I need to wait for new version of Survey Editor?

[2017-05-16 10:28] krishnathamisetty commented on #90
In survey designer it is showing immediately, but when you refresh again it is showing Other (describe) instead of otherText message and also it is not reflected on Test Survey.

[2017-05-16 10:39] andrewtelnov commented on #90
@krishnathamisetty I did not update the site yet. We will do it with the next release. Likely on this week.
You may always build the sources, library and editor, by yourself and use them in your app. The instruction in the readme files of the repos.

Thank you,
Andrew

[2017-05-17 06:04] krishnathamisetty commented on #90
Thanks Andrew.

[2017-05-19 14:59] grelu opened #92 "Add column in checkbox or radio element"
### Are you requesting a feature, reporting a bug or ask a queation?
Question

### What is the current behavior?
When I add an element (checkbox type), I don't have the possibility to add a column.

### What is the expected behavior?
I would like to have the possibility to add, for example, a column in the field

Example view (fast entry)

1|0.25|first item
2|0.5|second item
3|1|third item

Values

[2017-05-22 11:08] muhfred opened #93 "How Can I add a new plugin in questions editor modal?"
### Are you requesting a feature, reporting a bug or ask a queation?

question/feature.

### What is the current behavior?

I want to add and bind values in Question Editor modal in choices question?

### What is the expected behavior?

add an [ icon picker](https://victor-valencia.github.io/bootstrap-iconpicker/) next to text and value fields in choices question editor modal. and bind the icons t

[2017-05-22 13:03] rjsteinert commented on #82
Is there a work around for this in 0.12.15?

[2017-05-22 13:18] andrewtelnov commented on #82
@rjsteinert Do you mean how to make the JSON generation readable, but not valid?
You may set the option as :
`   var editor = new SurveyEditor.SurveyEditor("editor", { generateValidJSON : false});`

Thank you,
Andrew

[2017-05-22 13:22] andrewtelnov commented on #93
@muhfred Will markdown work for you? It gives you way more freedom.
http://surveyjs.org/examples/jquery/survey-markdown-radiogroup.html

[2017-05-22 13:31] rjsteinert commented on #82
@andrewtelnov Hi Andrew, sorry, I'm looking to generate valid JSON. The `generateValidJSON` option did the trick! I definitely agree that generating valid JSON by default is a sensible option.

Thanks for the tip, I was able to finish my pull request to surveyjs_angular_cli.

https://github.com/surveyjs/surveyjs_angular_cli/pull/4/files#diff-4ed3181376fdc2cf15122db0f58d4c93R13

[2017-05-23 09:21] muhfred commented on #93
Markdown is great, the thing is that I want the user to insert these icons, How can I do that?

[2017-05-23 10:31] andrewtelnov commented on #93
@muhfred You may create your own markdown and use it or use both your markdown and third-party markdown.
So a customer will have to write in the item text: [SMILE] and you will replace the smile with the link on a smile icon on survey.onTextMarkdown event.

Thank you,
Andrew

[2017-05-24 06:57] krishnathamisetty commented on #91
This is working fine.

[2017-05-24 06:57] #91 closed

[2017-05-24 06:58] krishnathamisetty commented on #90
This is working fine in 0.12.15 Version.

[2017-05-24 06:58] #90 closed

[2017-05-24 07:35] krishnathamisetty opened #95 "How to render survey with user answer for review"
### Are you requesting a feature, reporting a bug or ask a queation?
feature question

### What is the current behavior?
Using survey editor we are able to create survey and user will provide their feedback using test survey. Administrator of survey wants to review each survey with user feedback. So our question how to render survey using user feedback for review in read only mode.

### What is th

[2017-05-24 07:36] krishnathamisetty commented on #95
It will be great, if we get sample code for the same.

[2017-05-24 07:39] andrewtelnov commented on #95
@krishnathamisetty Here is the demo: http://surveyjs.org/examples/jquery/survey-displaymode.html
`survey.mode = "display";`

Thank you,
Andrew

[2017-05-24 07:53] krishnathamisetty commented on #95
great thanks.

How to set default value in Survey Editor for each individual question.

[2017-05-24 09:06] #95 closed

[2017-05-24 09:07] krishnathamisetty opened #96 "How to set default value in survey editor"
### Are you requesting a feature, reporting a bug or ask a queation?

question

### What is the current behavior?

Using survey designer we want to set default value. Is this possible for all question types?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

[2017-05-24 10:22] andrewtelnov commented on #92
@grelu Sorry for delay. I have missed your question for some reason :-(
I do not understand the question. Why do you need to have value 1, 2, 3 and not 0.25, 0.5 and 1?

Thank you,
Andrew

[2017-05-24 10:57] krishnathamisetty commented on #96
Thanks andrew for your reply. My question related with Survey Design properties window. While designing survey we want to assign default for each different question. Not through programme.

[2017-05-24 11:43] grelu commented on #92
@andrewtelnov : no problem ! My question : it is possible to add more column ? Now, we have two columns : value and text. But I need others values in my choices. For exemple, to do a grading, I want this :

1 - Question ?

Choices =

Value : 1, Text : "Answer 1", Grade : 0
Value : 2, Text : "Answer 2', Grade : 0.5
Value : 3, Text : "Answer 3', Grade : 2

Do you understand ?
Thank you.

[2017-05-24 11:55] andrewtelnov commented on #92
Yes, sure. it is possible to have a custom attribute in valueitem. There are some unit tests on that.
So you want to have basically a json for every value item.
To be honest it is tricky. I do not have an idea, how to make it in general.
Of course, you may create your own property editor and register it. Property editors are created as a plug-in system. But it would not be easy :-(
Anyway, why do

[2017-05-24 11:55] andrewtelnov commented on #92
You may have a value: 1-0, 2-0.5, 3-2 as well.

Thank you,
Andrew

[2017-05-24 11:57] andrewtelnov commented on #96
@krishnathamisetty  Ah, you are asking about default value. No, we do not have this functionality yet.

Thank you,
Andrew

[2017-05-24 12:53] krishnathamisetty commented on #96
Thanks @andrewtelnov. When can we expect this functionality.

[2017-05-24 13:17] grelu commented on #92
Ok thank you @andrewtelnov

[2017-05-24 13:17] #92 closed

[2017-05-24 13:29] grelu opened #97 "Add a form-group class to the other element"
### Are you requesting a feature, reporting a bug or ask a queation?

Question or bug ?

### What is the current behavior?

Impossible to add a bootstrap class form-group to the "other" element.

  <div class='col-xs-6'
         My Other Element
  </div>

### What is the expected behavior?

I want to add a form class like this

<div class='form-group'>
  <div class='col-xs-6'
         My Other Ele

[2017-05-25 12:11] andrewtelnov commented on #97
The issue was fixed: https://github.com/surveyjs/surveyjs/commit/98c1ff8dde488b1ea14fac4521ba5cba940bd29f

[2017-05-25 12:14] andrewtelnov commented on #97
@grelu I have added to css.dropdown.other class and make sure library is using this and css.checkbox.other and css.radiogroup.other classes.
Please use this demo to change the classes: http://surveyjs.org/examples/jquery/survey-customcss.html
The changes will be included into the next minor release.

PS: Please create this kind of issues in surveyjs repo.

Thank you,
Andrew

[2017-05-25 14:12] grelu commented on #97
@andrewtelnov ok I'm sorry.
Thank you very much.

[2017-05-25 14:12] #97 closed

[2017-05-25 19:04] HankIndustry opened #98 "Editor Survey Designer not showing panels when visibleif criteria are set"
### Are you requesting a feature, reporting a bug or ask a question?

Reporting a bug

### What is the current behavior?

When adding "visibleif" criteria to a panel, then saving, the panel disappears from the survey builder.  It is visible if triggered in the survey test, but in the builder the panel is not visible.  On manually removing the invisibleif criteria and setting visible to true in the

[2017-05-25 19:50] HankIndustry opened #99 "Request: Copy panel creates non-duplicate question names"
### Are you requesting a feature, reporting a bug or ask a question?

Requesting a feature

### What is the current behavior?

When a panel with questions is copied, the question names (question4, question5, etc) remain the same, so if in one panel a selection is made on a question, that same selection will be made on the copied question in the duplicate panel.  Currently one will have to manually

[2017-05-26 07:17] andrewtelnov commented on #98
@HankIndustry Yes, thank you. I have fixed the bug.
-
Andrew

[2017-05-26 09:39] andrewtelnov commented on #99
@HankIndustry Yes, right. I did not test this functionality properly after adding a Panel object. I have added couple unit tests and fix the issue.
It will be really tricky for visibleIf. It makes sense to implement, but there are may important tasks that we have to work on.

Thank you,
Andrew

[2017-05-28 14:25] Lazarojunior opened #100 "Translation spanish not work"
### Are you requesting a feature, reporting a bug or ask a queation?
Bug

### What is the current behavior?
Translater for spanish not working.

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

The file 'editor/src/localization/spanish.ts' is in wrong syntax. At the end of the line you have to use the ',' character, you are using ';'.

See t

[2017-05-28 18:15] andrewtelnov commented on #100
@Lazarojunior Yes, how could I missed that!

Thank you,
Andrew

[2017-05-31 02:52] muhfred commented on #76
it's not an issue for survey editor, you have to download and include the js libraries according to each widget.
Great Work,
Thank you.

[2017-05-31 02:52] #76 closed

[2017-06-02 09:28] traquall opened #101 "Event Handler stop working when switching tabs"
### Are you requesting a feature, reporting a bug or ask a question?

bug

### What is the current behavior?

When I switch tabs from "designer" to "Edit JSON", events handler on SurveyEditor.survey disappears.

### What is the expected behavior?

Events handler still work after changing tabs

### How would you reproduce the current behavior (if this is a bug)?

Add an event handler on editor.surv

[2017-06-02 10:55] andrewtelnov commented on #101
@traquall Editor re-creates the survey in designer in several different situations. I have added a new event: onDesignerSurveyCreated, where options.survey is the survey in the designer.
Please use this event to setup the event handler for the survey.
It is available in the dev version: https://surveyjs.azureedge.net/dev/surveyeditor.js

Thank you,
Andrew

[2017-06-02 11:40] traquall commented on #101
Thank you @andrewtelnov !!

[2017-06-02 12:13] #101 closed

[2017-06-06 15:07] andrewtelnov commented on #86
@GeorgeBB Sorry that it takes me so long. I have started to work on this.
At first I have found that the easiest way to limit the number of locales is already here.
Use the following code:
[code]
I have just added a new property: [Survey.surveyLocalization.defaultLocale](https://github.com/surveyjs/surveyjs/issues/433). It will be available in the next minor version.
Further, I am working on prope

[2017-06-07 02:45] GeorgeBB commented on #86
@andrewtelnov Much appreciated to your great efforts!

[2017-06-07 08:50] andrewtelnov opened #103 "Add ability to localize properties values"
Add a new section in localize strings object:

pv : {} - properties values and use it for displaying boolean and dropdown properties values.

[2017-06-07 09:48] joshreid opened #104 "Localisation of Validator types"
Hi @andrewtelnov
Can we localise the Validator type strings for improved experience?

<img width="374" alt="screen shot 2017-06-07 at 9 40 07 pm" src="https://user-images.githubusercontent.com/167671/26872429-9e94f956-4bca-11e7-9a86-59b7e9cb2f6e.png">

Any thoughts be much appreciated.

[2017-06-07 10:55] andrewtelnov commented on #104
@joshreid Sure, I will do it right now. I am working on improving editor localization at the current moment. I have missed it, and triggers...

Thank you,
Andrew

[2017-06-07 14:07] andrewtelnov commented on #86
@GeorgeBB The new version shows locales as on wiki (https://github.com/surveyjs/editor/issues/103) and you will be able to limit the number of supported locales as simple as:
`Survey.surveyLocalization.supportedLocales = ["en", "de"];`

Thank you,
Andrew

[2017-06-07 21:52] joshreid commented on #104
Legend, thanks Andrew!

[2017-06-09 20:51] grinfax opened #105 "Small Bug/Typo: Embed CDN"
In the embed code of the survey editor is shows the CDN address as:
`<script src="https://surveyjs.azureedge.net/0.12.17/survey.jquery .min.js"></script>`

when it should be:

`<script src="https://surveyjs.azureedge.net/0.12.17/survey.jquery.min.js"></script>`

Remove space betwen jquery and .min

[2017-06-11 06:27] andrewtelnov commented on #105
@grinfax Yes, thank you, The fix will be available in the next update.

Thank you,
Andrew

[2017-06-15 19:01] muhfred commented on #63
make the user have the ability to add a photo in survey header like a logo, a footer to add any copyright or additional information, and the ability to change the background color/image. let me know what you think,
Thanks.

[2017-06-16 15:36] muhfred opened #106 "Custom Widgets (barrating and select2) properties not updated in JSON Editor"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

- In barrating custom widget: everything is fine except that `"ratingTheme":"fontawesome-stars"` property isn't updated in JSONString, and I need it so that it gets rendered when the survey is published.

 - In select2 custom widget: I need the property `"renderAs":"select2"` in JSON

[2017-06-16 18:31] andrewtelnov commented on #63
@muhfred I personally think, these features should be out of the survey library. https://dxsurvey.com may provide these features, but not survey js library, like:
[code]
The idea of creating this library - add the ability to insert the survey into any part of your web page, as you wish.

Thank you,
Andrew

[2017-06-17 14:39] muhfred commented on #106
@andrewtelnov thank you for your work, did you get a chance to at this issue?
Thanks.

[2017-06-18 11:01] andrewtelnov commented on #106
@muhfred 1) "ratingTheme":"fontawesome-stars" doesn't save because it is the default value. Please look at the code.
Registering the property, the default value is "fontawesome-stars":
`Survey.JsonObject.metaData.addProperty("dropdown", {name: "ratingTheme", default: "fontawesome-stars", choices: ["fontawesome-stars", "css-stars", "bars-pill", "bars-1to10", "bars-movie", "bars-square", "bars-rever

[2017-06-18 15:48] muhfred commented on #106
@andrewtelnov I did what you suggested, JSON Editor is just not updated, please checkout the plunker : [https://plnkr.co/edit/e7GgwcYJudAbeC7hNmdg?p=preview](url)
All I want is that the barrating property "ratingTheme" to be set to "fontawesome-stars" in JSON Editor when adding the barrating question, and the same for dropdown question property "renderAs" : "select2" to be set in JSON Editor when

[2017-06-19 07:48] andrewtelnov commented on #106
I have made two modification, take a look at //!!!
https://plnkr.co/edit/nM7pQeI1YNqfb7ci6jZ5?p=preview

Thank you,
Andrew

[2017-06-21 09:57] traquall opened #107 "Dynamically add questions parameters"
### Are you requesting a feature, reporting a bug or ask a question?

Feature

### What is the current behavior?

As far i know, for the moment we can add parameter to a type of question before the designer is created.

### What is the expected behavior?

I'd like to dynamically add parameter to a question in order to add as many parameter as response choices and being able to see it in the json r

[2017-06-21 13:33] andrewtelnov commented on #107
@traquall Could you please describe your scenario in more details?

Thank you,
Andrew

[2017-06-21 14:14] boitaumail opened #108 "Limit the number of checkboxes selected by users"
Hi everyone,

# Are you requesting a feature, reporting a bug or ask a queation?
Question

### What is the current behavior?
Today, I can choose multiple choice question (checkbox) or single choice question (radiogroup)

### What is the expected behavior?
I would like a checkbox question with un limited number of answers. Is there a way to do it ?
eg : A question like : "Choose the 2 mains topics

[2017-06-22 17:51] maithuy opened #109 "Inline CSS in survey HTML elements"
### Are you requesting a feature, reporting a bug or ask a queation?
Feature

### What is the current behavior?
Inline css is added after questions are rendered
<span style="margin-left: 3px; display: inline; position: static;">Wrinkles</span>

### What is the expected behavior?
No inline css added so that authors can control the styles of the survey elements

<span>Wrinkles</span>

### How would

[2017-06-23 06:55] andrewtelnov commented on #109
@maithuy Yes, you are right. it is better remove inline styles.
We will work on it.

Thank you,
Andrew

[2017-06-23 07:02] andrewtelnov commented on #108
@boitaumail The easiest solution right now is to use [onValidateQuestion event](http://surveyjs.org/docs/api_surveymodel.html#onValidateQuestion).
Here is the demo, that does exactly what you want: https://plnkr.co/edit/HooHtas3ooFVcUu3kC1O?p=preview

PS: Please post questions about Survey Library to https://github.com/surveyjs/surveyjs/issues.

Thank you,
Andrew

[2017-06-23 14:59] traquall commented on #107
I need to add an indication on every response choices to get them in the json result, but as the number of responses is variable , I can't just add property to all radioGroup buttons.
So i need to add properties dynamically when the user adds a choices or remove a property when he remove a choice.

I don't know if this was more clear ...
Thanks again :)

[2017-06-24 12:01] andrewtelnov commented on #107
@traquall I wish I could understand the problem you are trying to solve :)
Do you want to add new values into result JSON based on the answers? In this case onValueChanged event you may call survey.setValue("mydynamicValue", myValue); This value will be in the result JSON.

Thank you,
Andrew

[2017-06-24 15:46] muhfred commented on #63
@andrewtelnov can we set a Quota on every answer? it's a feature that is in almost every survey engine.
Thank you.

[2017-06-24 19:32] andrewtelnov commented on #63
@muhfred I guess you are talking about the service, dxsurvey.com.

Thank you,
Andrew

[2017-06-25 14:49] muhfred commented on #63
I'm not sure what you're saying, but the survey engine should set a limit not only on the whole survey but also in each and every answer, let's say as on the whole survey should take 50 results, and on answers, 25 males, and 50 females, 25 males who owns a car, and 50 females who has children, like so, after it reach its quota the survey should stop running.

[2017-06-25 16:14] andrewtelnov commented on #63
:-) @muhfred We can't make it on our side. You have to write the code that does it on your side. If you are storing data on dxsurvey.com then you may call web api similar to this demo: http://surveyjs.org/examples/jquery/service-result/. If you see you have enough answers, then show a text that survey is closed instead of the survey.
We can do it for surveys that people run on dxsurvey.com only.

[2017-06-25 16:29] muhfred commented on #63
OK, but how to set a quota on answers?
Thank You.

[2017-06-26 07:51] traquall commented on #107
@andrewtelnov I wish someone could understand the problem ^^' I have some trouble explaining this one , i'll make an example.

I'm creating a survey with a radioGroup question and i need that for every response choices there is a property on the question (in order to add "tips" on responses when i'll use this survey).
So i need 3 properties when I create the question (prop1, prop2, prop3)
if i add

[2017-06-26 08:31] andrewtelnov commented on #107
@traquall OK. I think I've got you.
Here is what you have to do:
1) Add all properties into the radiogroup question type: https://www.surveyjs.io/Editor/examples/addproperties.html#code
2) Use onCanShowProperty event to hide/show your custom properties: https://www.surveyjs.io/Editor/examples/removeproperties.html#code

Let me know if it works for you.

Thank you,
Andrew

[2017-06-26 09:57] traquall commented on #107
@andrewtelnov Thank you :) you got me !

[2017-06-26 12:41] traquall commented on #107
@andrewtelnov just one last thing ^^'
It works very well but after I add a choice I need to click somewhere else before the question to see new visible properties.
Where and how can i reload the view ?
I tried to add "editor.text = editor.text;" that works well with "onPageChanged" event to reload the view but "onCanShowProperty" is called too much.

Here's my code for onCanShowProperty :

[code]

[2017-06-26 14:14] andrewtelnov commented on #107
@traquall Yes, objectEditor (shows the list of properties) has the objectChanged method. Unfortunately, it is not accessible outside the editor right now.  I will make it available right now...

[2017-06-26 14:24] traquall commented on #107
@andrewtelnov
Thank you so much for your work !
Best customer service I've ever seen :)

[2017-06-26 14:26] andrewtelnov commented on #107
I may update the editor dev version on https://github.com/surveyjs/builds/, if you want to play with it right now. Just let me know.
You will have to add the following code:
`editor.selectedObjectEditor.objectChanged(); `
It will update the properties of the selected object.

Thank you,
Andrew

[2017-06-26 14:36] andrewtelnov commented on #107
@traquall Anyway the dev version is updated, you may use it as:
https://surveyjs.azureedge.net/dev/surveyeditor.min.js

[2017-06-26 14:48] traquall commented on #107
@andrewtelnov
Do I need to add it at the end of "onCanShowProperty" ?
I tried this, it didn't update properties and create an error when i click on rating questions :
"Uncaught TypeError: Cannot read property 'length' of undefined"

[2017-06-26 14:58] andrewtelnov commented on #107
@traquall You will have to do the following:
[code]

[2017-06-26 15:12] traquall commented on #107
@andrewtelnov
onPropertyValueChanged doesn't trigger when I add response choices :/

[2017-06-26 20:24] andrewtelnov commented on #107
@traquall There is a onItemValueAdded event:
editor.onItemValueAdded.add((sender, options) => {
      //options.propertyName
      //options.itemValue
      editor.selectedObjectEditor.objectChanged();
});
I may add onItemValueRemoved and onItemValueUpdated if needed.

[2017-06-27 07:58] traquall commented on #107
@andrewtelnov I tried it and the object editor don't show the new property until I click somewhere else, but I can see that the number of choices has changed

[2017-06-27 08:02] andrewtelnov commented on #107
@traquall ok, I will try to make a demo. Probably I will have to change something in the code to make it work.

[2017-06-27 08:12] traquall commented on #107
@andrewtelnov It's not very important ^^ i'm good like this is

[2017-06-27 08:12] traquall commented on #107
@andrewtelnov Thanks

[2017-06-27 08:17] andrewtelnov commented on #107
ok :-)

[2017-06-27 17:40] andrewtelnov commented on #63
@muhfred I will do an example on plunker later.

Thank you,
Andrew

[2017-06-27 23:03] muhfred commented on #63
@andrewtelnov Thank You, I appreciate it. please tell me when you do so.
Thanks.

[2017-06-29 07:19] towojtek opened #110 "Calling rest to make calculations on for example "multipletext" type"
### Are you requesting a feature, reporting a bug or ask a queation?

Feature

### What is the current behavior?

For now just a dropdown questions can use rest calls.

Example json:
{ type: "dropdown", name: "country", title: "Select the country...", isRequired: true,
      choicesByUrl: {url: "https://restcountries.eu/rest/v2/all", valueName: "name"} }

### What is the expected behavior?

Possib

[2017-06-29 13:00] andrewtelnov commented on #110
@towojtek I understand you scenario. However, unlike dropdown (and radiogroup/checkbox) I think it is not a common scenario.
Do you need it to have just for one question in one survey? I may make a demo to change multitextquestion.items on calling rest service. It will be 5-10 lines of code.

Thank you,
Andrew

[2017-06-29 13:03] andrewtelnov commented on #110
@towojtek I maybe wrong if we see it is a common scenario, we would definitely introduce in the library itself. However, right now, I feel, it is better to implement this functional outside the library.

[2017-06-29 20:37] WojciechDob commented on #110
Can you show me how to optain such a functionallity, on multitextquestion for this example ?
Example:
Json structure:
{ type: "multipletext", name: "animals", title: "Animals",
items: [
{ name: "question_1", title: "How many cats do you have?",isRequired: true },
{ name: "question_2", title: "How many dogs do you have?", isRequired: true },
{ name: "question_3", title: "How many cows do you have?"

[2017-06-29 20:55] WojciechDob commented on #110
Just in my opinion, it might be usefull.
Imagine scenario when you are making huge calculations on values received from user.
Rest call will solve this scenario imidietly

[2017-06-30 13:25] andrewtelnov commented on #110
@towojtek @WojciechDob I have added a demo. Please refer to: https://github.com/surveyjs/surveyjs/issues/478

Thank you,
Andrew

[2017-06-30 14:57] andrewtelnov commented on #63
@muhfred Here is the demo: https://github.com/surveyjs/surveyjs/issues/479

[2017-06-30 21:51] jweto opened #111 "How can I deserialize the survey's JSON?"
### Are you requesting a feature, reporting a bug or ask a queation?

Ask a Question.

### What is the current behavior?

I want to deserialize a survey JSON to store the elements in my own database model, but the JSON schema changes based on its elements. What's the best way to solve that? I'm begginner at JSON manipulation.

### What is the expected behavior?

Is there a way to produces a fixed

[2017-07-01 15:07] andrewtelnov commented on #111
@jweto Why don't you store the json as a text in your database and then restore it as a text?
The most developer platforms allows to convert json to text and vice versa.
For example.
For Javascript: https://stackoverflow.com/questions/6487699/best-way-to-serialize-unserialize-objects-in-javascript
For .Net: http://www.newtonsoft.com/json/help/html/SerializingJSON.htm

Thank you,
Andrew

[2017-07-01 17:08] muhfred commented on #63
@andrewtelnov Thank you very much, I appreciate it.

[2017-07-06 13:33] #111 closed

[2017-07-06 16:30] martyquinn opened #112 "Having transpile errors finding KnockoutObservables trying to include surveyjs editor in angular2 ionic2 project."
Compile error:
[11:59:41]  clean finished in 11 ms
[11:59:41]  copy started ...
[11:59:41]  transpile started ...
[11:59:50]  typescript: E:/ionic/clinicianSurveyor/node_modules/surveyjs-editor/surveyeditor.d.ts, line: 145
            Cannot find name 'KnockoutObservable'.

     L144:      protected getItemsText(): string;
     L145:      protected isValueEmpty(val: any): boolean;

[11:59:50]  typ

[2017-07-07 07:43] andrewtelnov commented on #112
@martyquinn Could you please take a look at [angular 2 quick start repo](https://github.com/surveyjs/surveyjs_angular_quickstart)?

Thank you,
Andrew

[2017-07-12 13:56] muhfred opened #114 "How to show question icon next to question title?"
### Are you requesting a feature, reporting a bug or ask a queation?

Question

### What is the current behavior?

the question title is displayed on every added question.

### What is the expected behavior?

show question icon on every added question next to question title.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (i

[2017-07-12 19:40] andrewtelnov commented on #114
@muhfred  Do you mean the same icon or different for every question?
If you mean a different one, you may use the markdown feature: http://surveyjs.org/examples/jquery/survey-markdown-radiogroup/

Thank you,
Andrew

[2017-07-12 21:18] muhfred commented on #114
@andrewtelnov No I mean in the editor to show the question icon on every question added, radiogroup, checkbox, dropdown, etc...
Thank you.

[2017-07-13 17:11] andrewtelnov commented on #114
@muhfred I am lost. Do you mean on the Toolbox?

Thank you,
Andrew

[2017-07-15 15:27] muhfred commented on #114
@andrewtelnov I mean, that, I want to show the question icon which is in the toolbox, to be on the question itself when added in the editor.

[2017-07-15 16:58] andrewtelnov commented on #114
@muhfred What is the aim of showing the icon? Do you want to make it clickable? What is the purpose to have the additional noise?
I may make an optionally of course, but what do you want to achieve exactly?

Thank you,
Andrew

[2017-07-20 20:16] joshuagoldmeier opened #116 "Duplicate Question Name"
### Are you requesting a feature, reporting a bug or ask a queation?
Reporting a bug

### What is the current behavior?
Whenever a name for a question is repeated for a different question later in the survey, only the results of one of the questions is stored in the Results JSON and consequentially all other results pertaining to other questions with the same name is lost.

### What is the expecte

[2017-07-21 04:38] andrewtelnov commented on #116
@joshuagoldmeier I would not call it a bug or an unexpected behavior.
There are two scenarios. For example, you want to ask your end-user to write their e-mail address, at the beginning or the survey and at the of survey. You may want:
a) Ask an end-user check their e-mail one more time
b) Ask them to provide alternative e-mail, if they have it.
In both cases you want to show the initially entered

[2017-07-25 02:00] xraywu opened #117 "How-to: Set certain tool properties' default value when Editor initialized?"
### Are you requesting a feature, reporting a bug or ask a queation?

Asking a question

### What is the expected behavior?

Hi, we are looking for a method to set the default values of certain tool properties (e.g. always set `storeAsTextData` as `true` for File) during Editor initialization. Is there way of doing so?

[2017-07-25 05:05] andrewtelnov commented on #117
@xraywu You may add your own item into toolbox or replace/remove the existing items: https://www.surveyjs.io/Editor/examples/toolboxcustomization.html#code

Thank you,
Andrew

[2017-07-25 12:55] traquall opened #118 "Feature - Prevent adding response choices"
### Are you requesting a feature, reporting a bug or ask a queation?

Question or feature if it doesn't exist

### What is the expected behavior?

I'd like to hide/lock or delete :  'add new' button and delete response choices buttons in choices tab.
In order, for example, to have a question with 'YES / NO' choices only

Is it doable for now ?

Thank you

[2017-07-25 17:06] andrewtelnov commented on #118
@traquall Do you want this functionality for a particular question or question type or every where?

I was thinking about adding 'Yes/No' functionality as a new question. QuestionBoolean - a checkbox with 3 (optional 2 states): true, false, undefined (optional). true and false value will be able to change to "Yes/No"

Will it be a better solution for you?

Thank you,
Andrew

[2017-07-26 06:24] #117 closed

[2017-07-26 08:10] traquall commented on #118
@andrewtelnov I would prefer to be able to custom every type of question, this will facilitate the creation of 'Yes/No buttons' and other type of questions too.

Thank you,
Traquall

[2017-07-26 09:07] andrewtelnov commented on #118
@traquall That is fine, we will add it into our TODO list and implement.
I am asking about QuestionBoolean. Maybe this is actually a better solution to you?
I have been recently helping to transfer a paper survey into surveyjs and found that QuestionBoolean would make the survey clear in terms of UI and survey JSON.

Thank you,
Andrew

[2017-07-26 09:57] traquall commented on #118
@andrewtelnov I think a QuestionBoolean may be a great add to surveyjs, but that's not what i actually need ^^', i need to have a question with 3 choices and prevent to add or remove choices to keep 3 choices.
(And if you add this functionnality, i think we will be able to prevent add/remove dynamically ?)

Thank you,
Traquall

[2017-07-26 10:01] andrewtelnov commented on #118
@traquall Ok got you about the choices.
Could you please explain more about

What do you mean by that?

Thank you,
Andrew

[2017-07-26 12:14] traquall commented on #118
@andrewtelnov
I mean, If I need to lock 'add new' or/and 'remove' buttons depending on a condition .
for example : I want that a radio question has between 2 and 5 responses choices, so if this radio question has 2 choices i lock the remove button and if radio question has 5 choices i lock the add button.
(for example, but anyway this will offer a lot of possibilities)

Thank you,
Traquall

[2017-07-26 12:17] andrewtelnov commented on #118
@traquall ok, I got it.

Thank you,
Andrew

[2017-08-01 07:54] traquall opened #119 "Feature - Return different properties name to json"
### Are you requesting a feature, reporting a bug or ask a queation?

Asking if it exists, if not requesting a feature.

### What is the current behavior?

I can add properties like this :
Survey.JsonObject.metaData.addProperty("questionbase", "a parameter");
and this will return "a parameter":"answer" in the json

### What is the expected behavior?

I'd like to change the name of the property in

[2017-08-01 08:47] andrewtelnov commented on #119
@traquall You have to add a property into defaultStrings in https://github.com/surveyjs/editor/blob/master/src/editorLocalization.ts.
Property editor will try to take the tittle from this variable or localized variant.
For example:
[code]
Thank you,
Andrew

[2017-08-01 09:09] traquall commented on #119
@andrewtelnov I didn't understand what I should do with https://github.com/surveyjs/editor/blob/master/src/editorLocalization.ts.
and SurveyEditor has no 'defaultStrings' property ...

Thank you

[2017-08-01 09:47] andrewtelnov commented on #119
@traquall You are right defaultStrings are not in the list of export classes/variables ;(
I have just included it: https://github.com/surveyjs/editor/commit/f31036688d411612f4adada8edcd3b821a8deeb4
It will be available from the next minor release. After that the code written above will work.

Thank you,
Andrew

[2017-08-01 09:49] traquall commented on #119
@andrewtelnov Ok ^^ thank you a lot

[2017-08-03 14:40] andrewtelnov opened #120 "Add ability to customize property editors on event"
A new event editor.onSetPropertyEditorOptions(survey, options) is added.
options.propertyName  - the property name
options.obj - question/panel/page/survey objects editing in the property editor
options.editorOptions - editor options to modify.
At the current moment there is an options for all modal view with adding/deleting/clear items:
options.editorOptions.allowAddRemoveItems, it is true by def

[2017-08-03 15:09] andrewtelnov commented on #118
@traquall I have started to work on this functionality. It should be available in the next minor. We will release it on the next week. Please refer to [this issue](https://github.com/surveyjs/editor/issues/120). There is an example of using.

Thank you,
Andrew

[2017-08-03 16:35] andrewtelnov commented on #118
@traquall FYI: https://github.com/surveyjs/editor/issues/120 has been implemented.

Thank you,
Andrew

[2017-08-03 18:38] SlowburnAZ opened #121 "Hide "Apply" button"
### Question

Is there an "afterRender" event that I can tap into?

Customer is complaining about the "Apply" button in the question editor modals.  Would like to be able to hide the Apply button, since the "OK" button also applies the changes and closes the modal.  They'd also like to make the "OK" button say "Save" instead.

Thanks!

Of course, if there's another way to do this, I'm all ears.

[2017-08-03 20:56] andrewtelnov commented on #121
@SlowburnAZ You will be able to use the following code after the next minor update:
[code]

Thank you,
Andrew

[2017-08-07 07:44] traquall commented on #118
@andrewtelnov Thank you !

[2017-08-07 08:44] traquall commented on #119
@andrewtelnov When is this release planned ?

Thanks

[2017-08-07 13:07] andrewtelnov commented on #119
@traquall We are planning to release on Tuesday. Unfortunately, there is a show stopper issue in a new question PanelDynamic in vue platform. We hope to solve it today-tomorrow. Otherwise we may delay the release on one-two days.

You may try the dev version right now:
https://surveyjs.azureedge.net/dev/survey.ko.min.js
https://surveyjs.azureedge.net/dev/surveyeditor.css
https://surveyjs.azureedge

[2017-08-07 13:17] traquall commented on #119
@andrewtelnov Thank you :)

[2017-08-07 13:18] #118 closed

[2017-08-07 15:43] #107 closed

[2017-08-08 09:51] MohabElgammal commented on #79
Hello @andrewtelnov
Is there any progress in Shortcuts ?

[2017-08-08 11:51] andrewtelnov commented on #79
@MohabElgammal Are you talking about html "accesskey" attribute?

Thank you,
Andrew

[2017-08-08 12:50] MohabElgammal commented on #79
@andrewtelnov :No, "accesskey" is varying in different browsers we need a way to specify default shortcuts in multiple choice or radio group button questions, like 1,2,3 or A,B,C for every question, the problem is that multiple questions could have the same shortcuts, did you check out typeform? it has this feature and it's very useful, it would be great to see it in surveyjs.
Thank you

[2017-08-10 07:01] andrewtelnov commented on #79
@MohabElgammal Could you please ping me in a month?
We are working on releasing version 1.0 and there are a lot of tasks in our TODO list to accomplish this goal.
I just feel this functionality can wait for awhile.

Thank you,
Andrew

[2017-08-10 08:18] dmitrykurmanov opened #122 "Need to add license field to npm package"
Please see https://github.com/surveyjs/surveyjs/issues/545

[2017-08-14 08:20] gaurav-singhal opened #124 "Multi Select imagepicker with option groups"
### Are you requesting a feature, reporting a bug or ask a queation?
Feature if it doesn't exist

### What is the current behavior?
Single select image picker sample is provided. Need multi-image picker with option groups. How to customize it. http://rvera.github.io/image-picker/  Check Grouped Options.

### What is the expected behavior?

### How would you reproduce the current behavior (if this

[2017-08-14 08:31] dmitrykurmanov commented on #124
https://github.com/surveyjs/surveyjs/issues/559#issuecomment-322129450

[2017-08-17 16:34] gaurav-singhal commented on #124
Hi I was able to get it working for running the survey using afterRender option suggested there.

[code]
My question is how do we allow user to set the group in Editor??

[2017-08-18 15:13] ian-klinck opened #125 ""None of the above" checkbox behaviour"
I am trying to implement standard "None of the above" checkbox behaviour. i.e.
- If you have other checkboxes checked, and click "None of the above", the other checkboxes clear, so only "None of the above" is checked.
- If you have "None of the above" checked, and click other checkboxes, "None of the above" clears, so only "None of the above" is checked.

We can do the first one with a trigger (if

[2017-08-18 19:20] andrewtelnov commented on #125
@ian-klinck Here is the plunker example: https://plnkr.co/edit/H1YjYH?p=preview

Thank you,
Andrew

[2017-08-21 13:45] ian-klinck commented on #125
Thanks! We'll give this a shot!

[2017-08-21 15:52] john1625b commented on #125
@andrewtelnov When I use this code in my project, I get a "Maximum call stack size exceeded" when I click on 'none of the above'. When I put a console log in the onValueChanged function, the message prints infinitely when I click on the 'none of the above' option. I think what is happening is that clicking 'none of the above' triggers another onValueChange which then calls the function over and ov

[2017-08-21 16:50] andrewtelnov commented on #125
@john1625b That is strange. It works perfectly in plunker. Probably you are using another version or for another platform.
Anyway, I have changed the example. It should be fine now: https://plnkr.co/edit/H1YjYH?p=preview
I have added onValueChangingProcessing variable.

Thank you,
Andrew

[2017-08-21 17:30] john1625b commented on #125
@andrewtelnov Hey I just solved the problem. The reason why it wasn't working on my end was because we had triggers set through the survey.js GUI builder. The trigger was something like "set the value to none if none of the above is selected. So all I had to do was remove these triggers which we set. Anyways thank you for your help!

[2017-08-22 00:10] maithuy opened #126 "Is there a way to assign the question ID to the rendered question element?"

[2017-08-22 06:31] andrewtelnov commented on #126
@maithuy Here is the example, that does exactly what you need: http://editor.surveyjs.io/examples/oncreatequestion.html#code

Thank you,
Andrew

[2017-08-23 23:50] maithuy commented on #126
@andrewtelnov Thanks for the example. It'd be great to see this in ReactJS ES6. -Thuy

[2017-08-25 10:04] dmitrykurmanov commented on #126
@maithuy, hello! How could we provide example in RactJS ES6 for you? May be by creating github repo or may be by some new sandbox with webpack(rollup/something else). Could you please help us with this problem?

[2017-08-28 18:19] maithuy commented on #126
@andrewtelnov Hi Andrew, I'm working on a skin care quiz prototype. I've used the SurveyJS to load the questionnaires, which is this on render method in ReactJS

   import React from 'react';
   import quizMatrix from '../model/all-question-model';
   import * as Survey from 'survey-react';
   .
   .
   .
   var model = new Survey.Model(quizMatrix[0]);
    return (
      <div>
        <div classNa

[2017-08-28 18:43] andrewtelnov commented on #126
@maithuy Do you want to add a new property to question object?
It can be done in this way:
Survey.JsonObject.metaData.addProperty("question", {name: "ID"});
or if you want to make it as a numeric:
Survey.JsonObject.metaData.addProperty("question", {name: "ID:number"});

Thank you,
Andrew

[2017-08-28 19:55] maithuy commented on #126
@andrewtelnov Thanks so much for a quick reply.

Could I have the IDs for all questions in the json? If I add a property to a question,  I would need to access each question load and add it?

This <Survey.Survey model={model} onComplete={this.sendDataToServer} /> does the  following/previous/next rendering automatically, if I want to customize at a point somewhere in between, how would I go about

[2017-08-29 06:57] andrewtelnov commented on #126
@maithuy Ah, I see the issue that you have now. Yes, we have a counter, that increased on creating every new question, and question id = "sq_" + static question counter ++;
We can't use question name, because name maybe not unique.
I may make question.id property writable you will be able to change it on [survey.onQuestionAdded event](https://www.surveyjs.io/Documentation/Library/?id=surveymodel#o

[2017-08-29 11:28] ak34504 opened #127 "How can Assign "Score" into ItemValue object"
### Are you requesting a feature, reporting a bug or ask a queation?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* editor version:

[2017-08-29 12:09] andrewtelnov commented on #127
@ak34504 Please take a look at [this demo](https://www.surveyjs.io/Examples/Editor/?id=addproperties)
`Survey.JsonObject.metaData.addProperty("questionbase", {name: "score:number"});`
Where do you want to render it?
You may use [survey.onAfterRenderQuestion event](https://www.surveyjs.io/Documentation/Library/?id=surveymodel#onAfterRenderQuestion)

Thank you,
Andrew

[2017-08-29 12:35] ak34504 commented on #127
Thanks Andrew for response. However my requirement is not to render the score. But we want it
- Attach a weight to each question, say 10%
- Attach a score to each of the answer of question (e.g. we have three response and we can have 1, 5 and 10 as score of each response respectively)
- When user answer a question, e would like to store this in response and then use this score as per weitage to ca

[2017-08-29 12:42] andrewtelnov commented on #127
Then you need only to add properties and onComplete event or on server makes a calculation.

Thank you,
Andrew

[2017-08-29 12:49] ak34504 commented on #127
How can add score property for each Answer?

[2017-08-29 12:56] andrewtelnov commented on #127
'Survey.JsonObject.metaData.addProperty("questionbase", {name: "score:number"});'
After that you may assign this property into JSON and library will read it.

[2017-08-29 18:30] maithuy commented on #126
@andrewtelnov Would that mean I can change the question ID using onQuestionAdded={this.assignQuestionID} like the below?

I've tried that but the method doesn't output the console log.

[code]

[2017-08-29 18:35] andrewtelnov commented on #126
@maithuy Yes, exactly. You have to make sure that id is unique.
question.id becomes writable from the next minor update.

Thank you,
Andrew

[2017-08-29 22:35] maithuy commented on #126
@andrewtelnov Thank you. How do I find out when the next minor update is?

[2017-08-30 05:06] ak34504 commented on #127
Hi Andrew ,

{
 pages: [
  {
   name: "page1",
   elements: [
    {
     type: "radiogroup",
     choices: [
      {
       value: "1",
       text: "2",
       score:"13"
      },
      {
       value: "2",
       text: "3",
       score:"10"
      },
      {
       value: "3",
       text: "4",
       score:"15"
      }
     ],
     name: "Question Ex"
    }
   ]
  }
 ]
}

this is My JSON,I'm de

[2017-08-30 06:20] ak34504 opened #128 "I Need to Create Form for collecting Information along with particular Questions."

[2017-08-30 07:30] dmitrykurmanov commented on #128
@ak34504, hello! Could you please describe your scenario in greater details? You can get any of our [examples](https://surveyjs.io/Examples/Library/?id=survey-options&platform=jQuery#) and open it in sandbox (plnkr). Then you can modify this example and post to us. It is the better way of creating issues. Thanks.

[2017-08-30 07:32] dmitrykurmanov opened #129 "React version for custom toolbar (from https://github.com/surveyjs/surveyjs/issues/606)"
@frankwo1 :

[2017-08-30 09:54] ak34504 commented on #128
@dmitrykurmanov ,
![surveyissue](https://user-images.githubusercontent.com/31439493/29866708-dd462dd8-8d96-11e7-9bf1-927d95ba59f5.png)

1:-There Are two form "1" and "2".
2:-after click on "More" Button form 2 is open and Enter More Information and click on save button these data are save along with this Question.

[2017-08-30 10:07] dmitrykurmanov commented on #128
@ak34504, ok I see. We have "collapse/expand functionality for panels" in our todo list. As a workaround you can do it with **visibleIf** property, for example: https://surveyjs.io/Examples/Library/?id=condition-kids&platform=jQuery

[2017-08-30 10:10] dmitrykurmanov commented on #128
@tsv2013, @andrewtelnov, @ak34504 and what about popup functionallity for the survey?

[2017-08-30 10:24] ak34504 commented on #128
@dmitrykurmanov ,

This is not what we want.its just like a child question
i need to create one separate form for questions where question can have child question, file attachment and data forms all present in single form ans button (Ex. "save" button) also i need on same form

[2017-08-30 10:31] andrewtelnov commented on #126
@maithuy I believe we will release it in the middle next week, so in about in a week.
The current version is 0.12.23, you see it on the left top corner: https://www.surveyjs.io/

Thank you,
Andrew

[2017-08-30 10:33] andrewtelnov commented on #127
@ak34504 Ah, you are adding the score property into ItemValue object, not into the question itself.
Unfortunately, there is no easy to do it right now.
We have it in our TODO list however.

[2017-08-30 10:38] andrewtelnov commented on #128
@ak34504 We will keep you scenario in mind, but it is not a generic :-( and it will be hard to describe it in JSON format.

Thank you,
Andrew

[2017-08-30 10:40] mihael2039 opened #130 "Matrix (single choice) - Random Row Order"
Hello devs,

can the single choice matrix get an option to randomize rows?

_Background:
When doing survey research, the single choice matrix is the tool to go for setting up Likert scales.
As of these being vulnerable to response bias, there is a necessity for randomizing the row order.
From a scientific view a fixed order (if not intended) can be called a flaw in methodology._

You did a great w

[2017-08-30 10:44] ak34504 commented on #128
In surveyjs.io in TOOLBOX  have HTML tool ,we can use and get the value ?

[2017-08-30 10:50] ak34504 commented on #127
Thanks @andrewtelnov
when we can expect release.

[2017-08-30 11:22] andrewtelnov commented on #130
@mihael2039 Here is the [plunker example](https://plnkr.co/edit/TGkfsN?p=preview)
It makes sense to add an option into matrix question of course.

Thank you,
Andrew

[2017-08-30 12:23] mihael2039 commented on #130
Thank you so much. This helps a lot.

[2017-08-31 11:15] ak34504 opened #131 "How can be add CSS class Name in Control or parent "div"?"
### Are you requesting a feature, reporting a bug or ask a queation?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* editor version:

[2017-09-01 06:52] andrewtelnov opened #132 "Extend itemvalue Property Editor: choices, matrix columns/row"
There is no way to edit the additional properties added into ItemValue (itemvalue) class.
There should be a declarative way to add a property into itemvalue with ability to edit it in the Property Editor. It should work similar to adding a new property into question class.

Additionally, a developer should be able to choose the editor that should be used for a new property: text box or check box o

[2017-09-01 06:58] lalitkhanna opened #133 "How to set default value for CheckBox(RunTime)"
### Are you requesting a feature, reporting a bug or ask a queation?
Here is the scenario:
In my form user choices some option but as per some business rules he/she can't be choice some of the option so we need to set some other option from server side.

We tried to do so but we're unable to update on run time,Can you please show some example for this scenario.

### What is the current behavior?

[2017-09-01 07:09] andrewtelnov commented on #133
@lalitkhanna Here is the code:
`survey.setValue("myCheckboxQuestion", [value1, value1]);`

Thank you,
Andrew

[2017-09-01 17:09] andrewtelnov opened #134 "Support custom widgets in Property Editors"
This functionality is required by https://github.com/surveyjs/editor/issues/132.
However, it is valid as it is.

[2017-09-01 19:46] kennetlindberg opened #135 "generateValidJSON can be set to false even though default is true"
### Are you requesting a feature, reporting a bug or ask a queation?
Bug

### What is the current behavior?
If other options are set then generateValidJSON is set to false if not explicitly set to true.

### What is the expected behavior?
generateValidJSON should be true if not explicitly set to false.

### How would you reproduce the current behavior (if this is a bug)?
See Test code

#### Provid

[2017-09-01 19:55] andrewtelnov commented on #135
@kennetlindberg I have fixed it.

Thank you,
Andrew

[2017-09-01 20:16] kennetlindberg commented on #135
That was fast, thanks! :)

[2017-09-01 20:16] #135 closed

[2017-09-02 19:46] andrewtelnov commented on #132
The functionality has been implemented.

[2017-09-03 16:38] andrewtelnov opened #136 "Support custom errors and validation in Property Editors"

[2017-09-04 10:23] dmitrykurmanov commented on #131
@ak34504 , hello please check these examples:
https://surveyjs.io/Examples/Library/?id=survey-customcss&platform=jQuery
https://plnkr.co/edit/aIz4bdA0pFVw7WttInVF?p=preview

[2017-09-04 13:43] andrewtelnov opened #137 "Property Editor is closed on pressing "OK" even if there is an error"

[2017-09-05 14:29] andrewtelnov commented on #134
The plunker example that shows how to add custom Property Editor and use it for a new property in dropdown.choices, checkbox.choices and radiogroup.choices: https://plnkr.co/edit/TXAbZ6InPzb0XhTOUYyR?p=preview

[2017-09-05 14:29] andrewtelnov commented on #132
The plunker example that shows how to add custom Property Editor and use it for a new property in dropdown.choices, checkbox.choices and radiogroup.choices: https://plnkr.co/edit/TXAbZ6InPzb0XhTOUYyR?p=preview

[2017-09-05 14:30] andrewtelnov commented on #136
The plunker example that shows to how create a depended property and use custom validation: https://plnkr.co/edit/l01zarPdpBWRiqPW4Kat?p=preview

[2017-09-06 12:18] andrewtelnov opened #139 "Show/Hide the Property Grid"
Add editor.showPropertyGrid property (true by default) and options.showPropertyGrid.
Set it to false to hide the Property Grid.

[2017-09-06 14:57] andrewtelnov opened #140 "Add ability to modify the menu items in the selected element."
The default items are: "Add to Toolbox", "Copy" and "Delete".
The new event editor.onDefineElementMenuItems is added.
Here is the code that will add a first item into the menu.
[code]

[2017-09-06 20:27] kennetlindberg opened #141 "Set a property from code?"
### Are you requesting a feature, reporting a bug or ask a queation?

Question

### What is the current behavior?

### What is the expected behavior?

Is it possible to set a property from code? For example if I wanted to make "locale" selection more visible and create my own button outside the editor or in the toolbar.

Thanks!

### How would you reproduce the current behavior (if this is a bug)?

[2017-09-07 08:55] traquall opened #142 "Force int value"
### Are you requesting a feature, reporting a bug or ask a queation?

Asking if it exists, if not requesting a feature.

### What is the current behavior?

For every choices the value field is a string

### What is the expected behavior?

I'd like to force the value field to be an int.

To do so, if you can add IDs to modal's fields or add a question option.

Thank you.
Traquall

[2017-09-07 09:26] dmitrykurmanov commented on #142
@traquall hello! Maybe I don't understand your use case, but why don't you convert string to integer by  standard way?

[2017-09-07 09:38] traquall commented on #142
@dmitrykurmanov Hello
I can't because the user can put a string like 'item1'

[2017-09-07 09:49] andrewtelnov commented on #141
@kennetlindberg Sure, here is the [plunker demo](https://plnkr.co/edit/mrxWPe3s8OY5Ttv7e9yZ?p=preview)

Thank you,
Andrew

[2017-09-07 09:52] dmitrykurmanov commented on #142
@traquall, ok now I understand. you could you number type, please see:

https://plnkr.co/edit/kyE7jikDUTVDGZmldMje?p=preview
https://surveyjs.io/Examples/Library/?id=questiontype-text&platform=Knockoutjs

[2017-09-07 10:05] kennetlindberg commented on #141
Hi, thanks for your reply. It works, kind of, however the Property Panel (right side) is not updated when locale is changed which can lead to problems.

[2017-09-07 12:15] traquall commented on #142
@dmitrykurmanov Thanks, but your examples are not for the survey editor.
I'd like to change the choices type to 'number' but without having to recreate all basic question (radiogroup, checkbox, dropdown, ...)

[2017-09-07 13:25] kennetlindberg commented on #141
@andrewtelnov No, that is not what I meant. I'll try to explain a bit more:
If you enter for example a title for a question in multiple languages and have that question selected when you change the locale using the new button, the title field in the properties panel is not updated to reflect the newly selected locale.

[2017-09-07 13:32] andrewtelnov commented on #141
@kennetlindberg I got it. Here is the updated [plunker demo](https://plnkr.co/edit/mrxWPe3s8OY5Ttv7e9yZ?p=preview)

PS: You have to use the latest version of Library and Editor.

Thank you,
Andrew

[2017-09-07 13:43] andrewtelnov commented on #142
@traquall Here is the [plunker demo](https://plnkr.co/edit/Zb4HPF?p=preview) that does exactly what you need.
Please notice, it will work with the latest version only. We have added a lot of cool features into new version.

Thank you,
Andrew

[2017-09-07 13:52] lalitkhanna opened #143 "How to ignore Question Number"
### Are you requesting a feature, reporting a bug or ask a queation?

As default we got question number which we want to avoid, is there any way to do this ?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[co

[2017-09-07 14:13] andrewtelnov commented on #143
@lalitkhanna survey.showQuestionNumbers
Set this property to "off" to turn off the numbering on questions titles or "onpage" to start numbering on every page. The default value is "on".

PS: Please use surveyjs repo for question about the library. You are asking the question into the wrong repo.

Thank you,
Andrew

[2017-09-07 15:38] traquall commented on #142
@andrewtelnov @dmitrykurmanov
Thank you !

Do i need to download the package of the new release ? And do i need to change my knockout script too ?
I currently use this :
[code]

[2017-09-07 16:50] andrewtelnov commented on #142
@traquall The current version, released today, are 0.12.24
[code]
I would not recommend to use the dev version. It is mostly for testing.

Thank you,
Andrew

[2017-09-08 07:18] #142 closed

[2017-09-08 10:24] andrewtelnov opened #144 "Could not edit Title property in the Question Editor"
The issue was introduced in v0.12.24 during a large refactoring.

[2017-09-10 18:40] #6 closed

[2017-09-10 18:41] #49 closed

[2017-09-10 18:42] #100 closed

[2017-09-10 18:42] #98 closed

[2017-09-10 18:42] #105 closed

[2017-09-10 18:43] #137 closed

[2017-09-11 13:29] MohabElgammal commented on #79
Hey @andrewtelnov ,
I just have a suggestion regarding default shortcuts; you will find a library in the attachment. It has an html with a UX similar to typeform with a JavaScript library the separates each element in the form into its own which will allow (I think) multiple keyboard shortcuts (A, B, C …) to be applied to multiple choices or radio buttons on the same page, please run the demo and

[2017-09-12 05:54] rangasurendra opened #145 "Is it possible to change 'Test Survey' to 'custom text' in survey editor's tab header text."
### Are you requesting a feature, reporting a bug or ask a question?
Question

### What is the current behavior?
Greetings! is it possible to change tab header text in Survey Editor.

### What is the expected behavior?
Sort of initialization configuration to customize specific header texts, with their localization strings.

### How would you reproduce the current behavior (if this is a bug)?

####

[2017-09-12 07:09] andrewtelnov commented on #145
@rangasurendra Please take a look at [localization example](https://www.surveyjs.io/Examples/Editor/?id=localization).
You may change the English strings as well. Here is the demo: https://plnkr.co/edit/HqwK8uM6JlM0sG3ShOvd?p=preview

Thank you,
Andrew

[2017-09-12 15:24] traquall commented on #119
Is this feature present in the latest release?
If so, has it changed ? because it does not work with the previous code.

Thanks

[2017-09-13 05:53] andrewtelnov commented on #119
@traquall Yes, it is a bug. I have fixed. I have modify a unit test and added a check, so we should not break it again.
We will likely release today.

Thank you,
Andrew

[2017-09-13 06:38] rangasurendra commented on #145
Great! and thank you for the quick response and explanation.
Ranga

[2017-09-13 06:38] #145 closed

[2017-09-13 06:41] #144 closed

[2017-09-13 08:01] traquall commented on #119
@andrewtelnov Thank you

[2017-09-13 09:17] andrewtelnov opened #146 "Numeric property editor may assign string"
Numeric property editor set value as string on editing.

[2017-09-13 11:25] lalitkhanna opened #147 "How to get page wise submission ?"
### Are you requesting a feature, reporting a bug or ask a queation?
In case, I've multiple pages & these pages are depended (if pass some value from page1 to page2)  on each other then how could I get values while clicking on 'Next' ?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test

[2017-09-13 11:28] lalitkhanna opened #148 "How to bind multiple values for dynamic rows ?"
### Are you requesting a feature, reporting a bug or ask a queation?
Can you please provide me some example if I need to bind values with dynamic rows ?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

[2017-09-13 13:46] andrewtelnov commented on #147
@lalitkhanna I am not sure I understand you.
There is survey.onValueChanged event where you may set update the value of another question based on changed value.
If you you have the same name to several questions, then they will have the same answer results.

Thank you,
Andrew-

[2017-09-13 13:47] andrewtelnov commented on #147
Please post your questions into Library repo.

Thank you-

[2017-09-13 13:48] andrewtelnov commented on #148
@lalitkhanna It is an array of objects:
`[{columnName1: columnValue1, ..., columnNameN: columnValueN}, {} ]`

Thank you,
Andrew

[2017-09-13 14:13] MohabElgammal opened #149 "Triggers"
### Are you requesting a feature, reporting a bug or ask a queation?
Feature

### What is the current behavior?

when adding a trigger on a question,there is no indication that shows there is a trigger on a question .

### What is the expected behavior?

show an indication that there is a trigger on that question.

### How would you reproduce the current behavior (if this is a bug)?

#### Provide

[2017-09-14 09:01] RupaliPatwa opened #150 "Can we add tooltip for survey questions?"
Can we add tooltip for survey questions?
If yes where can we add that in json?

[2017-09-14 16:17] andrewtelnov commented on #150
@RupaliPatwa Where do you want to show this tooltip? on question.title?
PS: We have added a description property into the question

Thank you,
Andrew

[2017-09-15 05:20] lalitkhanna commented on #147
Thanks

[2017-09-15 05:20] #147 closed

[2017-09-15 05:23] lalitkhanna commented on #148
Thanks

[2017-09-15 05:23] #148 closed

[2017-09-15 05:23] lalitkhanna commented on #143
Thanks

[2017-09-15 05:23] #143 closed

[2017-09-15 05:25] lalitkhanna commented on #133
This is not happening, can you please give some example.

Thanks
Lalit

[2017-09-15 07:18] RupaliPatwa commented on #150
I was not able to see tooltip coming up with description property.
I am using version  - survey-react@^0.12.15

following is json
 type: "checkbox",
  name: "taxonomyPersonalData",
  title: "What car are you driving?",
description : "What car are you driving? ",
...

[2017-09-15 07:51] abhishek1503 opened #151 "Is it possible to add link inside the Questions ?"
### Are you requesting a feature, reporting a bug or ask a queation?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* editor version:

[2017-09-15 08:29] andrewtelnov commented on #133
@lalitkhanna Here is [the demo](https://www.surveyjs.io/Examples/Library/?id=survey-data&platform=jQuery)

[2017-09-15 08:29] #133 closed

[2017-09-15 08:30] andrewtelnov commented on #151
@abhishek1503 Do you mean <a> tag inside the question title?

Thank you,
Andrew

[2017-09-15 08:31] andrewtelnov commented on #150
@RupaliPatwa There is no tooltip property. I have just asked the question. Where do you want to show the tooltip, over the question title?

Thank you,
Andrew

[2017-09-15 08:35] lalitkhanna commented on #133
Thanks Andrew

[2017-09-15 08:49] abhishek1503 commented on #151
Like this form.

![survey1](https://user-images.githubusercontent.com/31983267/30474281-c0cfa8fa-9a20-11e7-81fc-0ebc152b438c.png)

[2017-09-15 09:39] RupaliPatwa commented on #150
Hi,
I want to show tooltips for checkbox text.I want to show additional information about each text of choices element.So How do I do that? If I do mouseover on checkbox text tooltip should appear with additional information.

Following is json
type: "checkbox",
name: "data",
title: "What car are you driving?",
description : "What car are you driving? ",
choices: [
                        {

[2017-09-15 11:05] andrewtelnov commented on #150
@RupaliPatwa Do you want to show the same tooltip on all choices or different a tooltip for every choice?

Thank you,
Andrew

[2017-09-15 11:21] andrewtelnov commented on #151
@abhishek1503 You may use the markdown support. Here is [the example](https://www.surveyjs.io/Examples/Library/?id=survey-markdown-radiogroup)

Thank you,
Andrew

[2017-09-15 12:57] RupaliPatwa commented on #150
No not same tooltip. I have 4 checkbox values/text in choices array and I want to set separate tooltip for each text.
This should be generic. There are many components like matrix, checkbox where choices ,rows array is used. So I  should be able to set different tooltips where ever required.

[2017-09-18 02:58] nadialo opened #152 ""hasOther" does not work when dropdown exceeds 18 options"
Hi, I would like to apply "hasOther" on my 20 options dropdown, however the "Other" option does not appear at the bottom of the list,. I have tried on the editor, which it seems like when the dropdown over 18 options, the "Other"option is not functioning. Thanks.

Here is the code I tested on 0.12.26
{
 pages: [
  {
   name: "page1",
   elements: [
    {
     type: "dropdown",
     name: "question

[2017-09-18 05:46] ahtsei opened #153 "Bootstrap 4 and customisation options in an Angular 2/4 app"
### Are you requesting a feature, reporting a bug or ask a question?
Question regarding styling the editor in an Angular 2/4 app.

### What is the current behavior?
The app I am building is based on Bootstrap 4, and the SurveyJS Editor component is injecting the Bootstrap 3 CSS stylesheet and it's custom survey stylesheets after my apps CSS ie. into the global scope.

### What is the expected beha

[2017-09-18 11:26] abhishek1503 opened #154 "add css classes in controls and Render on HTML Page."
### Are you requesting a feature, reporting a bug or ask a queation?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* editor version:

[2017-09-18 14:27] andrewtelnov commented on #154
@abhishek1503 Unfortunately I could not understand the issue :-(

Thank you,
Andrew

[2017-09-18 14:29] andrewtelnov commented on #153
@ahtsei We want to support Bootstrap 4 out of the box. It is in our TODO list, but we are not working on it yet.

Thank you,
Andrew

[2017-09-18 14:29] #153 closed

[2017-09-18 14:37] andrewtelnov commented on #152
@nadialo I could not reproduce the issue: https://www.surveyjs.io/Editor/Editor/#446a5715-2e67-451b-b3b1-e0a1b0ae2074

Thank you,
Andrew

[2017-09-18 16:30] abhishek1503 commented on #154
@andrewtelnov  i need to add class like
<input type="text" class="txtcls" />

OR
<div class="clsdiv">
</div>

[2017-09-18 19:56] rygler opened #155 "Adding new panel without a name"
### Are you requesting a feature, reporting a bug or ask a question?
Requesting a feature

### What is the current behavior?
When calling `addNewPanel` on a page, if you pass a string as an argument, then that string will be set as the name. If you pass in nothing, no name is set.

### What is the expected behavior?
It would be nice if when there is no string being passed in, the panel name would

[2017-09-18 21:40] andrewtelnov commented on #155
@rygler Do you mean, if the name in Panel/Question in addNewPanel/addNewQuestion is empty - generates the name name?
I think it is reasonable.

Thank you,
Andrew

[2017-09-18 21:48] rygler commented on #155
@andrewtelnov Yes. If no name is supplied, a default name should be generated that is not simply an empty string.

[2017-09-18 21:50] andrewtelnov commented on #155
@rygler you are right. It is better to move this code from the editor into the library code.
I will do it.

[2017-09-19 12:20] ian-klinck commented on #125
@andrewtelnov
So, this is working great for the "None of the Above" option.

However, we've got one question in a survey with both a "None of the Above" (NotA) option and a "Prefer not to Answer" (PntA) option. I'm trying to implement this for both buttons, but running into a bit of an issue on an edge case. It works fine for selecting "normal" options & then the NotA/PntA answer or vice-versa, bu

[2017-09-19 14:13] andrewtelnov commented on #125
@ian-klinck Here is the [working example](https://plnkr.co/edit/hSO3td?p=preview)

Thank you,
Andrew

[2017-09-19 14:26] ian-klinck commented on #125
Thanks! I'll give this a shot!

[2017-09-21 16:06] andrewtelnov opened #156 "Could not drop MatrixDynamic question"
The error is occured on dropping  matrix dynamic question.

[2017-09-21 16:47] andrewtelnov commented on #156
Do not set empty defaultValue into value on loading and on question creation.

[2017-09-21 16:47] #156 closed

[2017-09-22 14:31] nheath99 opened #157 "Online Editor generating incorrect json"
### Are you requesting a feature, reporting a bug or ask a queation?
Bug

### What is the current behavior?
Online editor at https://surveyjs.io/Editor/Editor generates a json representation on the JSON Editor tab of the current configuration. It is generating an array element named "elements", rather than "questions". Passing this json into a survey model results in an error.

### What is the exp

[2017-09-22 14:38] dmitrykurmanov commented on #157
@nheath99 hello! I can't reproduce it. I've just add matrix dynamic question. And get this json:

[code]

and then I've put it in plnkr example and it is ok . Please check https://plnkr.co/edit/OJkFstevQt2Lj7nwvMfu?p=preview

[2017-09-25 14:37] traquall opened #158 "Question - How to add property with modal like 'title'"
### Are you requesting a feature, reporting a bug or ask a question?

Asking a question

The property 'title' on the editor toolbox can be directly edited or users can open a modal to edit it.

How can I add a similar modal to another property ?

Thanks,
Traquall

[2017-09-25 14:39] andrewtelnov commented on #158
@traquall [Here is the demo](https://surveyjs.io/Examples/Editor/?id=questioneditor), where we are adding a new tag property into Question Editor.

Thank you,
Andrew

[2017-09-25 15:04] traquall commented on #158
@andrewtelnov The tag property doesn't got a modal.

I'm talking about the editor toolbox on the right, I'd like to add a property with a textfield and a modal like the title property. (just a modal with a bigger textarea)

[2017-09-25 18:29] andrewtelnov commented on #158
@traquall That is easy :-) just set type to text,
`{name: "myproperty", type:"text"}`
or "myproperty:text"

Thank you,
Andrew

[2017-09-26 08:09] traquall commented on #158
@andrewtelnov ok.... ^^'
Thank you

[2017-09-26 08:09] #158 closed

[2017-09-28 08:19] ahtsei commented on #157
@nheath99 Both 'questions' and 'elements' arrays are supported now. Maybe you're running an older version of the surveyjs library before they were both supported? This looks like the relevant commit: https://github.com/surveyjs/surveyjs/commit/20ba98b35d5c6ef9d28ca7daea7f7199e14b088c#diff-5314826f5a8010fdc3bcf5b4c164927d

[2017-09-28 13:02] dmitrykurmanov commented on #124
@gaurav-singhal, do you need a custom property in the editor? You can do something like this:

`Survey.JsonObject.metaData.addProperty("checkbox", {name: "group:string", default: "g0"});` - adding _tag_ property for all checkboxes in the editor

 Please check this example https://surveyjs.io/Examples/Editor/?id=addproperties Is it ok for you?

[2017-09-28 15:11] nheath99 commented on #157
My bad - I was using version 0.12.3 rather than the latest (0.12.28) - I can only assume I've copied an example from somewhere with the wrong version.

[2017-09-28 15:11] #157 closed

[2017-09-29 13:18] muhfred opened #161 "Build Error"
### Are you requesting a feature, reporting a bug or ask a queation?

bug

### What is the current behavior?

Build error after running "npm run build_prod".

ERROR in ./src/propertyEditors/propertyEditorBase.ts
(91,34): error TS2339: Property 'isValueEmpty' does not exist on type 'typeof Base'.

ERROR in ./src/propertyEditors/propertyEditorBase.ts
(178,29): error TS2339: Property 'isValueEmpty' d

[2017-09-29 20:44] muhfred opened #162 "can't drop question on dynamic panel."
### Are you requesting a feature, reporting a bug or ask a queation?

Bug

### What is the current behavior?

can't drop question in dynamic panel if the dynamic panel is added on a second page.

### What is the expected behavior?

drop questions in dynamic panel on any created page.

### How would you reproduce the current behavior (if this is a bug)?
[https://plnkr.co/edit/qL8RWw?p=preview](http

[2017-09-30 19:34] andrewtelnov commented on #162
@muhfred It has been fixed. Thank you!

Andrew

[2017-09-30 19:40] muhfred commented on #162
Thanks.

[2017-10-01 14:37] andrewtelnov opened #163 "Create a new Property Editor to allow edit an array value"
A new Property Editor, "multiplevalues" allows to edit the array value.
Here is the example of property:
`Survey.JsonObject.metaData.addProperty("question", {name: "multiple:multiplevalues", choices: [{value: 1, text: "Item 1"}, {value: 2, text: "Item 2"},{value: 3, text: "Item 3"}]});
`
The value can be null, empty array [], or [1, 3].

A user modify the value in modal window with checkbox list,

[2017-10-04 08:58] traquall commented on #119
@andrewtelnov This still not work in 0.12.30

[2017-10-04 14:13] andrewtelnov commented on #119
@traquall I wanted to make a demo and to my surprice it doesn't work indeed :(
I have changed the Property Editor since then greatly and the old unit test does nothing right now. I will fix it and come back.

Thank you,
Andrew

[2017-10-04 14:43] andrewtelnov commented on #119
@traquall I have fixed it. I am sorry about this.

Thank you,
Andrew

[2017-10-04 15:54] traquall commented on #119
@andrewtelnov No problem ^^

Thank you

[2017-10-05 13:23] dprogaki opened #165 "Options Menu not showing up"
The dots for the option menu are not working for me. I tried also testing it in a project on its own and they still don't work. The Edit button is working.
I am using the exact code suggested here:
https://surveyjs.io/Examples/Editor/?id=options

[2017-10-05 15:53] rhalp10 opened #166 "Matrix single choice to Matrix checkbox choice"
### Are you requesting a feature, reporting a bug or ask a question?
question
### What is the current behavior?
The editor is good it's working fine, but still insufficient of other things

### What is the expected behavior?
on matrix single choice how should i change this into check box but the same output like this
,the thing is i want to click both not single?

![image](https://user-images.gith

[2017-10-05 16:17] rhalp10 opened #167 "Can number be edited like number with letter before dot 1,2,3,4a,4b,4c,5?"
### Are you requesting a feature, reporting a bug or ask a queation?

Question

### What is the expected behavior?
Can number be edited like number with letter before dot 1,2,3,4a,4b,4c,5?

[2017-10-05 18:16] andrewtelnov commented on #165
@dprogaki It is hard to say why it doesn't work with your code.
I would suggest press "Edit in Plunker" button in this example and compare all JavaScript libraries that we have with your including libraries.
You may check for console errors as well.

Thank you,
Andrew

[2017-10-05 18:32] andrewtelnov commented on #166
@rhalp10 We are going to introduce the boolean question support in the matrix dynamic. After that you will be able to do this, by using matrix dynamic and boolean question inside the cells.
I may probably do it on the next week.

Thank you,
Andrew

[2017-10-05 18:40] andrewtelnov commented on #167
@rhalp10 You can't do it at the current moment. I am going to add this suggestion into our TODO list.
I think we will allow to make this type of numbering inside the panel.

Thank you,
Andrew

[2017-10-05 21:15] rhalp10 commented on #166
your welcome andrew :+1:

[2017-10-05 21:15] rhalp10 commented on #167
ah ok ok :) i hope this will help you

[2017-10-05 22:22] maithuy commented on #126
@andrewtelnov Hi Andrew, I installed the latest version and am not sure how to assign a custom ID for the page, is it through setter method? I don't see it on the documentation page. Thanks in advance.

[2017-10-06 06:49] andrewtelnov commented on #126
@maithuy It is read-only in the current version. I've just made it writable as for questions.

Thank you,
Andrew

[2017-10-06 13:18] andrewtelnov opened #168 "Multiple language support for choices in Editor doesn't work any more"
See the issue: https://surveyjs.answerdesk.io/internal/ticket/details/t150

[2017-10-06 18:13] andrewtelnov commented on #166
@rhalp10 Here is the example with the latest version: https://plnkr.co/edit/pjOgBE?p=preview

[2017-10-06 18:52] rhalp10 commented on #166
@andrewtelnov  ow bytheway if i add   `hasOther: true`  is this will work or  maybe you should add on   `hasOther: true` on this matrix

[2017-10-06 20:34] andrewtelnov commented on #166
@rhalp10 I do not get it. Does the last question has anything to do with boolean cell type? I just don't understand your question...

Thank you,
Andrew

[2017-10-07 12:07] rhalp10 commented on #166
@andrewtelnov i mean like the matrix single choice if i click Other (describe) the input box will show,
![image](https://user-images.githubusercontent.com/13925864/31307642-16c9b1ac-ab9b-11e7-9397-a39690ff1369.png) example of this

[2017-10-07 14:14] steff381 opened #169 "Online Editor - Default text in comment field not showing in running survey"
### Are you requesting a feature, reporting a bug or ask a queation?
Bug

### What is the current behavior?
In a comment field, if there is a default answer the default text does not display in the running survey nor does it appear in the results.

### What is the expected behavior?
Default text from comment field is displayed in running survey and is output into the results

### How would you rep

[2017-10-07 15:51] andrewtelnov commented on #166
@rhalp10 Do you want to show it for every cell or for every row or one for a matrix?

Thank you,
Andrew

[2017-10-07 15:58] andrewtelnov commented on #169
@steff381 Right, I did not think about question comments. We will fix it.

Thank you,
Andrew

[2017-10-07 16:00] andrewtelnov commented on #169
@steff381 Or do you speak about QuestionComment? Because it works fine for me...

Thank you,
Andrew

[2017-10-07 18:01] rhalp10 commented on #166
@andrewtelnov like matrix single choice it has the feature of `hasOther: true` for enable other describe maybe you can add that thing like on matrix single choice

[2017-10-07 19:11] rhalp10 opened #170 "Matrix Question and Answer JSON.stringify(result.data)"
### Are you requesting a feature, reporting a bug or ask a queation?
Question and Improvement

### What is the current behavior?

![image](https://user-images.githubusercontent.com/13925864/31311024-4e47c2a0-abd6-11e7-8879-f64d217fe7ca.png)

umm... i notice this recently the column will become the answer for each rows like**_`{"rows":column }`_** then the **_`name:`_** code will become the the que

[2017-10-08 11:48] steff381 commented on #169
The comments are correctly being injected into the JSON in the "test survey" tab of the Editor page on surveyjs.io. When I tested a second time I noticed that the issue seems to be related to the dxsurvey.com implementation of the surveyjs service. If I run the survey using the "published" endpoint the default value is not present and the content does not make it to the final output. Does that mak

[2017-10-08 13:23] steff381 opened #171 "Ranking question properties bug"
### Are you requesting a feature, reporting a bug or ask a queation?
bug

### What is the current behavior?
Environment: Online Survey Editor> Survey Designer tab
Question Type: "rating"
Issue: Setting the rateMax, rateMin, or rateStep value have no impact on the displayed question. e.g. the widget only ever displays a scale if 1 to 5 in the "survey test" tab and in the final survey on the Surveyj

[2017-10-08 13:50] andrewtelnov commented on #166
@rhalp10 Hm, I just don't get it. Do you need hasOther support for boolean question? You may use the checkbox question in this case. It does support hasOther.

Thank you,
Andrew

[2017-10-08 13:53] andrewtelnov commented on #170
@rhalp10 You may use it as:
rows: [{value: "val1", text: "My Tittle1" },  {value: "val2", text: "My Tittle2" }]

Thank you,
Andrew

[2017-10-08 13:54] andrewtelnov commented on #170
@rhalp10 Please use this repo https://github.com/surveyjs/surveyjs/issues to ask questions about the library.

Thank you,
Andrew

[2017-10-08 14:01] andrewtelnov commented on #169
@steff381 Arh, ok. Yes, we will take a look at dxsurvey.com.

Thank you,
Andrew

[2017-10-08 14:05] andrewtelnov commented on #171
@steff381 Indeed, values don't load correctly. I will work on it.

Thank you,
Andrew

[2017-10-08 16:08] andrewtelnov commented on #171
@steff381 The fix will be available in the next minor update on the next week.

Thank you,
Andrew

[2017-10-09 05:31] tsv2013 commented on #169
@steff381 @andrewtelnov I've updated dxsurvey.com site.

[2017-10-09 15:33] rhalp10 commented on #170
@andrewtelnov sorry about that

[2017-10-10 13:09] traquall opened #172 "Rating question display bug"
### Are you requesting a feature, reporting a bug or ask a queation?

Bug

### What is the current behavior?

I have added multiple rating question to my toolbox and all of them display multiple 'box' (1 ,2 ,3 ,4 5) while all my question in the toolbox have only 1 item.
But the json is correct ! It's only a display problem I think

### What is the expected behavior?

To have the same object on my

[2017-10-10 14:40] andrewtelnov commented on #172
@traquall I have fixed a bug related to rating question couple days ago. As I see you issue has gone away as well: https://plnkr.co/edit/sQ0pTTgDucBjOteiwlrs?p=preview
It works for last released version 0.12.32 that we have released today.

Thank you,
Andrew

[2017-10-10 18:14] steff381 opened #173 "Online Editor - Question Widget onFocus issue"
### Are you requesting a feature, reporting a bug or ask a queation?
Bug

### What is the current behavior?
In the online editor, if I click on any question widget (Except for the last or the first widget in the set) the  frame scrolls to the top of the list. This issue adversely affects user experience because one must then scroll back down to the selected question.

### What is the expected beha

[2017-10-10 18:51] steff381 commented on #173
Note: The same scrolling issue occurs when an existing question widget changes position using the drag-and-drop.

[2017-10-10 19:00] andrewtelnov commented on #173
@steff381 I will take a look at it tomorrow. I agree it is an usability bug.

Thank you,
Andrew

[2017-10-11 09:10] andrewtelnov commented on #173
@steff381 The problem is fixed. The fix will be available in the next release.

Thank you,
Andrew

[2017-10-11 12:48] traquall commented on #172
@andrewtelnov Ok, thank you :)

Traquall

[2017-10-11 12:48] #172 closed

[2017-10-12 10:27] chrisweconect opened #174 "When saving a duplicate value and text, the text disappears after saving"
### Are you requesting a feature, reporting a bug or ask a question?
Possible Bug.

### What is the current behavior?
When a user attempts to save a value that's the same as the text, the text disappears when the editor is reopened.  The value is also pushed outside of the hash and rendered in the survey json as a simple string.

See below:

![screen shot 2017-10-12 at 12 27 39](https://user-image

[2017-10-12 12:35] chrisweconect commented on #174
This is a follow-up to https://github.com/surveyjs/editor/issues/14 - still doesn't work.

[2017-10-12 18:12] andrewtelnov commented on #174
@chrisweconect Please use the following code:
`editor.alwaySaveTextInPropertyEditors = true;`
Here is the example: https://plnkr.co/edit/p8eoKkPI7xrwuMN5ekdr?p=preview

PS: I will add documentation to this properties.

Thank you,
Andrew

[2017-10-12 18:41] chrisweconect commented on #174
Thanks!

Chris Whamond

On Oct 12, 2017, at 20:13, Andrew <notifications@github.com<mailto:notifications@github.com>> wrote:

@chrisweconect<https://github.com/chrisweconect> Please use the following code:
editor.alwaySaveTextInPropertyEditors = true;
Here is the example: https://plnkr.co/edit/p8eoKkPI7xrwuMN5ekdr?p=preview

PS: I will add documentation to this properties.

Thank you,
Andrew

—
Yo

[2017-10-13 08:02] #174 closed

[2017-10-15 15:34] rhalp10 commented on #170
@andrewtelnov
i already fix this using ` name: "is for variable",
       title: "is for the questions",`
![image](https://user-images.githubusercontent.com/13925864/31586224-cf7cfaae-b200-11e7-9c1d-e4895a3d1afc.png)
could you help me how to how to display the nested ajax array on php ?
`echo $survey_result->P_Address;` this will display only one data but on the nested i don't know how to foreach t

[2017-10-19 14:57] elkinporras opened #175 "Not working on Firefox 51 and up"
### Are you requesting a feature, reporting a bug or ask a queation?

Reporting a bug

### What is the current behavior?

Editor and survey are not working on Firefox 51 and up.

### What is the expected behavior?

Working on any version of Firefox.

### How would you reproduce the current behavior (if this is a bug)?

TypeError: _this.sheet.addRule is not a function  survey.ko.js:14721:80
TypeErr

[2017-10-20 11:35] AndOne1974 opened #176 "2 errors logged in console on editor load (example site)"
### Are you requesting a feature, reporting a bug or ask a queation?

bug

### What is the current behavior?

js error

### What is the expected behavior?

no js error ;)

### How would you reproduce the current behavior (if this is a bug)?

goto https://surveyjs.io/Editor/Editor/

#### Provide the test code and the tested page URL (if applicable)

Tested page URL: https://surveyjs.io/Editor/Edito

[2017-10-20 11:35] AndOne1974 commented on #176
![screenshot_2](https://user-images.githubusercontent.com/1571332/31819132-8c1e305e-b59b-11e7-80d8-1a3461511dcc.png)

[2017-10-20 13:45] andrewtelnov opened #177 "Add an option to hide pages toolbox/editor"
If users may create one page surveys only, it is better to hide pages toolbox for them as:
`    editor = new SurveyEditor.SurveyEditor("editor", {showPagesToolbox: false });
`
It shows by default.

[2017-10-20 14:20] noorball opened #178 "Using surveys created by surveyjs-editor"
### Are you requesting a feature, reporting a bug or ask a queation?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* editor version:

Hello,

I can create survey descript

[2017-10-20 14:45] rafalzmuda opened #179 "angular quickstart"
Hello,
I tried to launch angular version without success.
my steps:
git clone https://github.com/surveyjs/quickstart
cd quickstart
npm install
npm start

last command throws errors (see below). I can launch app with npm run serve but appearance is  broken a bit and question editor popup is hidden (I can see it with inspector).
Second issue is that modifications from examples "Add properties" and "

[2017-10-21 10:10] andrewtelnov commented on #178
@noorball Could you check if this json will work:
`{ questions: [ {type:"text", name: "question1" } ] }`
As well check in debugger, that you are passing the correct model.

Thank you,
Andrew

[2017-10-23 03:51] noorball commented on #178
Thanks for response, @andrewtelnov
Yes, this code does work.
In debugger I can see that the model is in the form
`  {   "elements": [{ "type": "radiogroup", "name": "question1"  }   ]  }` and if I change `"elements"` to `"questions"` it will work.
Is it desired behaviour? Is there any solution without manual renaming keys in json object?

Thank you,
Nurbol

[2017-10-23 07:34] andrewtelnov commented on #178
@noorball What version of SurveyJS are you using?
Editor will generate the code like this.
[code]
Inside the pages, you may use elements or questions.
Does it work for you?
Maybe you will post your JSON here? Probably all your questions/pages are invisible.

Thank you,
Andrew

[2017-10-23 10:12] dprogaki commented on #165
All libraries are the same and there are no errors in the console or anything. I am using asp.net core mvc. Even when I just create a new mvc project and copy paste all necessary code in there it still does not work for me.
Could it be some interaction with the already existing mvc code?

[2017-10-23 11:04] tsv2013 commented on #179
I've bumped up the TSC version - now works ok for me. @rafalzmuda - Please check it works for you.

[2017-10-23 12:22] noorball commented on #178
Version of SurveyJS is 12.32.

I can use questions, but not elements. There is a message "There is no visible page or question in the survey" if I use "elements".

I think if the problem was the "invisible" property then using "questions" should not have worked as well.
The problem can be reproduced if we rename property "questions" in the json to "elements" in this [jsfiddle](https://jsfiddle.net

[2017-10-23 12:46] andrewtelnov commented on #178
@noorball The editor should give you the following json:
https://jsfiddle.net/rgmp6L1g/1/
You do not use "pages" if there is only one page. However, in this case "elements" doesn't work. You will have to use "questions".
I think I will add support for elements as well.

Thank you,
Andrew

[2017-10-23 13:08] andrewtelnov commented on #165
@dprogaki They are part of bootstrap,  glyphicon-option-horizontal: https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp

Thank you,
Andrew

[2017-10-23 13:08] AJF4 opened #180 "__WEBPACK_IMPORTED_MODULE_2_jquery__(...).modal is not a function"
### Are you requesting a feature, reporting a bug or ask a question?

Question

### What is the current behavior?

In an Angular 4 project which otherwise behaving as expected, pressing the "edit" button for any question results in the following error :

[code]

### What is the expected behavior?

Edit modal is displayed

### How would you reproduce the current behavior (if this is a bug)?

Not en

[2017-10-23 13:19] dprogaki commented on #165
The problem is not with the glyphicon appearing. It is there but when I press it nothing happens, no options appear.

Thank you Andrew!

[2017-10-23 13:29] andrewtelnov commented on #165
@dprogaki Got it. Do you have this script loaded? <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
We use it to show a modal window, the standard way for bootstrap. It requires jQuery as well.

Thank you,
Andrew

[2017-10-23 13:40] dprogaki commented on #165
Yes it is there.

`    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://surveyjs.azureedge.net/0.12.34/survey.ko.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https:

[2017-10-23 13:49] andrewtelnov commented on #178
@noorball I just looked at the code and we do support elements inside survey already.
In your fiddle you were using the old version of SurveyJS, https://unpkg.com/survey-jquery@0.12.10
The current version is 0.12.34, I have updated to the latest version at it works as expected:
https://jsfiddle.net/6y1eky9L/1/

Thank you,
Andrew

[2017-10-23 14:15] andrewtelnov commented on #165
@dprogaki Please remove this script, <script src="https://surveyjs.azureedge.net/0.12.34/survey.jquery.js"></script>

Thank you,
Andrew

[2017-10-23 14:16] andrewtelnov commented on #180
@AJF4 Do you have this script loaded?  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

Thank you,
Andrew

[2017-10-23 14:24] dprogaki commented on #165
This is included because I use the library below the editor. Even when I remove it the problem persists. Still no menu appearing.

[2017-10-23 15:13] dprogaki commented on #165
Thank you Andrew

[2017-10-23 17:34] AJF4 commented on #180
Hi @andrewtelnov  - thanks for your rapid response.

I don't have an explicit reference that bootstrap script anywhere, but I was under the impression that I didn't need it. (I can't find a reference to it in my working example either)

I tried adding a reference to the local bootstrap.js to the scripts section of .angular-cli.json - but it made no difference.

I'm relatively new to this, so apolo

[2017-10-23 18:39] dmitrykurmanov commented on #180
@AJF4, we will create an example for angular 4 and I think it will help you.

[2017-10-24 09:35] MED71 commented on #180
I work with @AJF4 and have noticed these scenarios also cause the same error message.

1) When clicking on the question edit button this error is logged.

<img width="156" alt="surveyjs-edit-button" src="https://user-images.githubusercontent.com/26740695/31935273-55501de0-b8a6-11e7-9602-808096f3e1dc.png">

2) When the Edit Properties
 modal is open and the OK button is pressed.  The modal does not

[2017-10-24 09:41] andrewtelnov commented on #180
@MED71 Could you please posted here the error messages from the log?

Thank you,
Andrew

[2017-10-24 09:43] MED71 commented on #180
error message from scenario 1

core.es5.js:1020 ERROR TypeError: __WEBPACK_IMPORTED_MODULE_2_jquery__(...).modal is not a function
    at SurveyPropertyEditorShowWindow.show (surveyeditor.js:1127)
    at SurveyEditor.showQuestionEditor (surveyeditor.js:5438)
    at Array.<anonymous> (surveyeditor.js:5321)
    at Event.fire (survey.ko.js:1367)
    at SurveyForDesigner._this.editQuestionClick (surve

[2017-10-24 09:53] andrewtelnov commented on #180
@dmitrykurmanov is working on example SurveyJS Editor + Angular 4. He will post his results here.

Thank you,
Andrew

[2017-10-24 09:58] MED71 commented on #180
OK Thanks.

[2017-10-24 10:26] AJF4 commented on #180
Thankyou @andrewtelnov, @dmitrykurmanov - look forward to seeing the response.

A

[2017-10-24 12:14] andrewtelnov commented on #176
@tsv2013 could you please take a look at this bug?

Thank you,
Andrew

[2017-10-24 12:28] tsv2013 commented on #176
@andrewtelnov Sure

[2017-10-24 12:30] tsv2013 commented on #175
Looks like a duplicate of the https://github.com/surveyjs/surveyjs/issues/726 issue.

[2017-10-24 12:35] tsv2013 commented on #176
For some reason files from `surveyjs.io/fonts` folder are not accessable in spite of they are indeed published.

[2017-10-24 13:07] tsv2013 commented on #176
Fixed. Thanks to SO - https://stackoverflow.com/questions/18897079/404-on-static-content-svg-woff-ttf-on-azure

[2017-10-24 19:57] rafalzmuda commented on #179
npm start works fine now, but I still have some css problems
https://screenpresso.com/=dMSSd this is what edit question modal looks like. Also notice the look of  property filter and three dots button next to Edit button. Should I crete a separate issue for this?

[2017-10-25 07:52] rhalp10 opened #181 "Matrix Array label_name per column and per rows"
### Are you requesting a feature, reporting a bug or ask a queation?

Features, or something

### What is the current behavior?

![image](https://user-images.githubusercontent.com/13925864/31986414-fccbe74e-b99a-11e7-818f-84f6389febd6.png)

### What is the expected behavior?
Uhm

![image](https://user-images.githubusercontent.com/13925864/31986497-4fbd427c-b99b-11e7-8eae-c8c48df7eae4.png)
maybe it

[2017-10-25 09:41] andrewtelnov commented on #181
@rhalp10 You may write choices like this:
choices: ["1|Value 1", "2|Value 2"]

Thank you,
Andrew

[2017-10-25 12:32] noorball commented on #178
Thanks, updating SurveyJS to the last version has helped.

[2017-10-25 12:59] #178 closed

[2017-10-25 15:03] andrewtelnov commented on #179
@rafalzmuda We are working on this issue. @dmitrykurmanov is removing bootstrap script dependency from the Editor. It creates the issue.

Thank you,
Andrew

[2017-10-25 15:04] andrewtelnov opened #182 "startWithNewLine = false doesn't work in the Editor"

[2017-10-25 15:05] andrewtelnov opened #183 "Usablity bug: Question Editor, clicking on checkbox label doesn't do anything"

[2017-10-25 15:30] andrewtelnov commented on #182
The bug is fixed. It was introduced after remove inline styles in survey elements.
@dmitrykurmanov Add a TestCafe test please on this issue, there is no way I could test it in Unit Tests.

Thank you,
Andrew

[2017-10-27 12:37] tsv2013 commented on #180
Resolved in the https://github.com/surveyjs/editor/releases/tag/v0.12.35 release

[2017-10-27 12:51] MED71 commented on #180
That works great.  Thank you @tsv2013

[2017-10-27 12:55] tsv2013 commented on #180
@MED71 thanks to @dmitrykurmanov, good job!

[2017-10-27 13:24] dmitrykurmanov commented on #180
and here an online example: https://stackblitz.com/edit/surveyjs-editor-angular4

[2017-10-28 22:55] muhfred opened #184 "Cannot delete question from dynamic panel"
### Are you requesting a feature, reporting a bug or ask a queation?

bug

### What is the current behavior?

If I inserted a question in dynamic panel, I cannot delete it.

### What is the expected behavior?

Delete question from dynamic panel.

### How would you reproduce the current behavior (if this is a bug)?

[https://surveyjs.io/Editor/Editor/](url)
Please insert a question in a dynamic pan

[2017-10-29 06:28] andrewtelnov commented on #184
@muhfred The bug has been fixed. The fix will be available in the next minor update.

Thank you,
Andrew

[2017-10-29 14:33] andrewtelnov opened #185 "Override the current Property Editor with your own"
At the current moment "html" Property Editor is Text Area.
It will be nice optionally change it on a popular html Editor.

[2017-10-29 21:06] cracki opened #186 "mode display not disable Question Multiple Text"
### Are you requesting a feature, reporting a bug or ask a queation?
reporting a bug

### What is the current behavior?
set mode:display but QuestionMultipleText is editable

### What is the expected behavior?
setting mode to display must disable QuestionMultipleTextrows

### How would you reproduce the current behavior (if this is a bug)?
set mode:display and add QuestionMultipleText

thank you

[2017-10-29 21:07] cracki commented on #186
and i think , it is better to remove submit button in display mode

[2017-10-30 06:26] andrewtelnov commented on #186
@cracki I could not reproduce this behavior for any
platform: https://surveyjs.io/Examples/Library/?id=survey-displaymode
and in Editor as well: https://surveyjs.io/Editor/Editor/ (drop multiple text on designer and set display mode to the survey).
Text boxes are read only and there is no submit button.

Thank you,
Andrew

[2017-10-30 07:01] cracki commented on #186
oh excuse me
no problem

thank you

[2017-10-30 07:01] #186 closed

[2017-10-30 09:25] AJF4 commented on #180
Just to confirm that works for me too - thanks guys.

one query - on the old example, the modal slides in from the top, in the new version of the code - it just appears. Not a big deal for me, but wondering if this was deliberate?

Cheers,

A

[2017-10-31 06:36] tsv2013 commented on #180
@AJF4 No, it wasn't deliberate. Just different defaults. If it does matter for users, we can change this behaviour, or at least try to do it :)

[2017-11-02 21:09] andrewtelnov commented on #185
Here is the code of using CKEditor instead of textarea for "html" property editor:
[code]

[2017-11-03 07:29] andrewtelnov commented on #185
Here is the updated API:
[code]

[2017-11-06 20:45] legreco opened #187 "How to load survey from another backend?"
When i use
[code]
the request url is:
[code]
How to load survey from another url?

[2017-11-07 03:35] andrewtelnov commented on #187
@legreco You may load survey json as a text from your back-end and then set it to editor:
editor.text = yourJsonAsText;

You may take a look at two our back-end examples:
https://github.com/surveyjs/surveyjs-php
https://github.com/surveyjs/surveyjs-aspnet-mvc

Thank you,
Andrew

[2017-11-07 18:29] legreco commented on #187
Thanks. It works!

[2017-11-07 18:29] #187 closed

[2017-11-07 18:49] legreco opened #189 "HOW TO SHOW ONLY THE SURVEY?"
Is there any options to hide toolbox and property viewer in the Survey Designer? i want to show only a non-editable version of the survey.

[2017-11-07 19:25] andrewtelnov commented on #189
@legreco use this options: {showPropertyGrid: false}, to hide property viewer. However, there is no option to hide the toolbox yet.
In fact, if you want to show the survey only with all pages, then you may run survey and show pages toolbar:
https://plnkr.co/edit/0vI5Xx?p=preview

You may set the survey in designer mode: survey.setDesignMode(true);

Thank you,
Andrew

[2017-11-08 08:45] traquall commented on #119
I don't know how, but it was working in 0.12.32 and then it won't work anymore (still in 0.12.32)

[2017-11-08 08:50] traquall opened #190 "Rebug - Return different properties name to json"
Mistakes were made, i close this

[2017-11-08 08:51] traquall commented on #119
https://github.com/surveyjs/editor/issues/190

[2017-11-08 08:51] #119 closed

[2017-11-08 08:52] #190 closed

[2017-11-09 11:22] AJF4 opened #191 "Bootstrap 4"
### Are you requesting a feature, reporting a bug or ask a question?

Question - does editor already support Bootstrap 4? If not, are there plans to introduce this?

[2017-11-09 16:29] andrewtelnov opened #192 "textitems Editor doesn't hide title column"
Removing "title" property from "multipletextitem" class or making it invisible doesn't hide "title" column.

[2017-11-09 18:23] andrewtelnov commented on #191
@AJF4 It is definately in our radar. We are busy with the release at the current moment. We are going to release v1.0 is several weeks.
After the initial v1.0 we will work on Bootstrap 4.

Thank you,
Andrew

[2017-11-10 12:56] andrewtelnov commented on #192
The following code will hide the title column:
`Survey.JsonObject.metaData.findProperty("multipletextitem", "title").visible = false;`

[2017-11-10 16:50] AJF4 commented on #191
Thanks, do you have an idea of timeframe? (both for the 1.0 release and for the BS4 update?)

If BS4 is likely to be shortly after the 1.0 release then I can defer my integration work until it's complete - if it's going to be months, then I may be better taking the pain of keeping the rest of the project on BS3.

Thanks,

A

[2017-11-11 18:09] andrewtelnov commented on #191
@AJF4 I hope we will release v1.0 in three weeks, https://surveyjs.answerdesk.io/internal/ticket/details/T233
I would say BS4 has the highest priority, since it has been asked several times already. However, I would not rely on us on 100%.
It is very likely that we will introduce it by the end of the year, but we have not done any investigation yet, and if during implementation we find that it is

[2017-11-13 14:18] AJF4 commented on #191
Thanks @andrewtelnov - good luck with the releases!

[2017-11-14 09:11] ak34504 opened #193 "How to call survey.onComplete.add(function (Json) {} fuction on custom button.?"
### Are you requesting a feature, reporting a bug or ask a queation?

### What is the current behavior?

### What is the expected behavior?

### How would you reproduce the current behavior (if this is a bug)?

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:

Test code

[code]

### Specify your

* browser:
* editor version:

[2017-11-14 09:14] ahtsei opened #194 "Ability to customize the html in testSurvey (preview) tab"
Hi there,

Is it currently possible to customize the layout of the contents in the testSurvey (preview) tab?

For example, would it be possible to add a custom header and/or footer within that tab? The use case being if you wanted to see how the survey would look like with a custom themed header and footer.

Thanks,
Aleks

[2017-11-14 09:30] andrewtelnov commented on #193
@ak34504 You have to call survey.completeLastPage(); method.

Thank you,
Andrew

[2017-11-14 09:40] andrewtelnov commented on #194
@ahtsei Unfortunately, we do not have this functionality yet. If you need it urgent, I may fork the repo and modify the html template. I may help you with it.

Thank you,
Andrew

[2017-11-14 09:48] ahtsei commented on #194
Thanks for the quick reply. It's not urgent, but I appreciate the offer. I'm sure you're quite busy with more useful/common issues, so I might might try it myself and if I get stuck maybe re-open this issue for some assistance? Thanks again @andrewtelnov.

[2017-11-14 09:48] #194 closed

[2017-11-15 08:32] ahtsei opened #195 "Optional "Add to toolbox" dropdown option"
Is it possible to somehow not show the "Add to toolbox" option in this dropdown?

<img width="208" alt="screen shot 2017-11-15 at 4 29 06 pm" src="https://user-images.githubusercontent.com/3906239/32826140-3be72474-ca22-11e7-80c8-05062b210023.png">

[2017-11-15 08:56] andrewtelnov commented on #195
@ahtsei Please take a look at this demo: https://surveyjs.io/Examples/Editor/?id=elementmenu

Thank you,
Andrew

[2017-11-15 09:25] traquall opened #196 "Question - Is there a way to select question div ?"
### Are you requesting a feature, reporting a bug or ask a queation?

Question

In order to change the css of some specific question div, I would like to select a question div from my object 'editor.survey.currentPage.element[i]' , for example doing like this "document.getElementById('divOfMyQuestion'+id)".
Is this possible for the moment ?

Thank you

Traquall

[2017-11-15 09:27] ahtsei commented on #195
Thanks @andrewtelnov, but I'm struggling to get the removal of "Add to toolbox" working. I'm trying something like this, but can't even get the console.log output:

[code]

[2017-11-15 10:30] andrewtelnov commented on #195
@ahtsei Here is the example with minimum code: https://plnkr.co/edit/v58JEYPXATkFM5Y1WDgh?p=preview

Thank you,
Andrew

[2017-11-15 10:37] ahtsei commented on #195
Thanks for that @andrewtelnov. I understand that part ie. adding a new option with a custom click handler. But how do I remove one of the default ones? ie. Remove "Add to toolbox" and leave the "Copy" and "Delete question" in there.

[2017-11-15 10:41] andrewtelnov commented on #195
@ahtsei You may do an indexOf by name and simply remove them, I have updated the example: https://plnkr.co/edit/v58JEYPXATkFM5Y1WDgh?p=preview

Thank you,
Andrew

[2017-11-15 11:01] andrewtelnov commented on #196
@traquall Here is the example: https://plnkr.co/edit/y4Yunm?p=preview

Thank you,
Andrew

[2017-11-15 15:16] traquall commented on #196
@andrewtelnov Thank you !

Traquall

[2017-11-16 02:42] patskot opened #197 "Custom css classes not rendered in survey when using Vue"
### Are you requesting a feature, reporting a bug or ask a queation?

Reporting a bug

### What is the current behavior?

Only some custom CSS classes are added to the survey markup when using the Vue library.

### What is the expected behavior?

When adding a custom class to an element it should show up in the markup: e.g.
`classes.description = "question-description"`

### How would you reproduc

[2017-11-16 02:45] patskot commented on #197
Opened this issue under the wrong repo, have moved it to the correct one:
https://github.com/surveyjs/surveyjs/issues/770

[2017-11-16 06:31] #197 closed

[2017-11-16 06:37] ahtsei commented on #195
Awesome, thank you for the quick response.

[2017-11-16 06:37] #195 closed

[2017-11-16 08:52] ahtsei opened #198 "Survey editor pages removal and customisation"
Hi again,

Is it possible to remove an empty page while building the survey? eg. if a user adds a new page but then realises they don't need it.

Also, is it possible to customise the page labels? Something similar to `editor.onQuestionAdded` functionality possibly.

Many thanks.

[2017-11-16 11:55] andrewtelnov commented on #198
@ahtsei There is a delete button near to dropbox on the right. Select the page and click on it.
I think we will add element menu for the page as well.

Just select the page and change the page name or do you want to change the name in the code?

Thank you,
Andrew

[2017-11-16 15:55] andrewtelnov commented on #198
@ahtsei I have added onPageAdded event, here is the example of using:
[code]
It will be in the next minor update.

Thank you,
Andrew

[2017-11-17 01:36] ahtsei commented on #198
Thanks @andrewtelnov,

Ah I see, it's in the properties grid. I didn't see it because I'm hiding the properties grid in my project. An element menu decoupled from the properties grid would be ideal. 👍

[2017-11-17 10:43] andrewtelnov opened #199 "Show checkbox instead of 'True'/'False' text in property grid"
End-user doesn't understand 'True/False' concepts, they are better understand check/uncheck checkbox.
We show checkbox for boolean properties for inactive properties now.
If you have any objections, please comment on this issue. We will add an option.

Thank you,
Andrew

[2017-11-19 07:58] andrewtelnov opened #200 "Add menu for a page element (edit/delete)"
There is no page editor and it is not obvious to understand how to delete the page.
The solution to this problem will be a new element in the page tab that will show a popup menu [Page Name ...] with two items: Edit, Delete. The Delete menu item should be disabled if there is only one page in the menu.

[2017-11-19 08:02] andrewtelnov commented on #198
@ahtsei We will work on this: https://github.com/surveyjs/editor/issues/200

Thank you,
Andrew

[2017-11-19 08:04] andrewtelnov opened #201 "Goto to specific page immediately in the Test Survey tab."
If you have a large survey with many pages, a lot of required questions, and you have to test the page x, it may require a lot of time to answer all questions to go the needed page.
In the Test Survey tab, there should be a navigation that would allow to go to the needed page immediately.

[2017-11-19 08:07] andrewtelnov opened #202 "On selecting a question/panel in the dropdown the element has to be focused"
Right now the element, on choosing it in the dropdown are selected, but it may not fully visible. If there are many elements in the page, it is inconvinient.

[2017-11-19 08:09] andrewtelnov opened #203 "Add ability to change the text question type into comment and vice versa"
You may setup the text question with all needed properties and then realize that you need a multiple text question, the comment type. It would be nice to have the ability to do it with one-two clicks.

[2017-11-19 08:12] andrewtelnov opened #204 "It is not obvious to understand how to edit a specific column object"
It is not obvious that the current "Edit column" button in Columns property editor is what you need. As well as the button that allows you to go back to the Columns screen.

[2017-11-19 08:13] andrewtelnov opened #205 "Inplace property editors do not work in IE11"
The property editors loose the focus before you are starting to edit in them. The same problem with popup modal property editors. It happens in IE11 only.

[2017-11-19 08:16] andrewtelnov opened #206 "Copy question doesn't work if it's startInNewLine property equals false"
Add two questions into the page, set the stawrtInNewLine property to false for the second question, open the element menu and click on "Copy". The second question is disappared and the new one is not appeared.

[2017-11-19 14:10] andrewtelnov opened #207 "Focus the inplace editor in the property grid immediately on selecting the property"
It requires to make two clicks to start editing the property. However it should be done in one click.

[2017-11-20 07:30] andrewtelnov opened #208 "Selecting complex questions, like matrix, may take 1-2 seconds"
On selecting the question, the library creates all forms in property grid and question editor. It should delay creating the form models, until the modal forms are opened.

[2017-11-20 17:05] korosaitama opened #209 "Multiple editors on the same page"
### Are you requesting a feature, reporting a bug or ask a question?

Bug

### What is the current behavior?

After the creation of different editor on the same page, i can edit ONLY the questions of the first editor.
I cannot modify one of the question of the second editor, third editor, and so on ...(the question editor ALWAYS shows me the information of the question selected at the first editor

[2017-11-20 20:37] cracki opened #210 "load editor with html question"
### Are you requesting a feature, reporting a bug or ask a queation
ask a queation

### What is the current behavior?
loading survey text with .text method include html question get error

### What is the expected behavior?
init editor

#### Provide the test code and the tested page URL (if applicable)

Tested page URL:
https://plnkr.co/edit/S7iLlC2APugzTBBp5RdS?p=preview

[2017-11-21 06:12] tsv2013 commented on #210
You are using double quotes inside double quotes - this breaks the string.
Inner double quotes should be preceeded with the backslash in this case:
`"<img src=\"https://placehold.it/300x100\" alt=\"test\"/>"`

[2017-11-21 06:51] cracki commented on #210
No currently double quotes added with the backslash (line 33)
The JSON is exactly same as editor get text methode and is valid
http://jsoneditoronline.org/?id=9a3fc752e5bc4776a005ce61c202efa0

[2017-11-21 07:10] andrewtelnov commented on #209
@korosaitama  I will work on the fix. It is a known issue and it is time to fix it!

[2017-11-21 07:43] tsv2013 commented on #210
I'm not sure I've understood you right. I open your link to the "Json Editor Online", it contains the JSON with backslashed double quotas. If I remove backslash, it complains on the wrong JSON. Hence backslashes are required.
So - what's the problem? Who gives wrong JSON?

[2017-11-21 07:52] cracki commented on #210
json string that is valid and contain backslash is passed to survey.text but editor remove backslash

[2017-11-21 11:02] tsv2013 commented on #210
In this case it's a bug. We'll fix it.

[2017-11-21 12:08] andrewtelnov commented on #209
@korosaitama I have fixed the issue. The fix will be available in the next minor.

Thank you,
Andrew

[2017-11-21 13:47] korosaitama commented on #209
Thanks you too

[2017-11-21 19:31] mkopinsky commented on #209
Awesome! I came across this issue yesterday as well. What is the approximate timeframe for the next minor release? (No rush, I just want to know what to communicate to my stakeholders.)

[2017-11-22 08:25] andrewtelnov opened #211 "Move change question type functionality into question menu"
This functionality is invisible in the bottom of the property grid.

[2017-11-22 14:05] andrewtelnov commented on #203
Implemented while working on this [issue](https://github.com/surveyjs/editor/issues/211)

[2017-11-22 14:43] elkinporras opened #212 "Ability to change the Type of any Question"
### Are you requesting a feature, reporting a bug or ask a queation?

Feature

### What is the current behavior?

Only Checkbox, RadioButton and Checkbox could change between them,

### What is the expected behavior?

In many cases the user add a Single Input but in some time they discover that making it a Checkbox or other item could be better.   At this time the user have to delete and create a

[2017-11-22 18:00] andrewtelnov commented on #212
@elkinporras To be honest, I can't say I like this idea
I have just change the UI. Now the "Convert to [Question Type Name]" items are shown in the question menu, together with Add to Toolbox, Copy and Delete. People do not find the "Change to [Question Type Name]" dropdown on the bottom.
I have added convertion comment into text and vice versa.
I do not think that somebody would really like to co

[2017-11-23 07:20] cracki commented on #210
Thank you
another similar bug:
https://plnkr.co/edit/Q4JeWutIjrTmEx0m7k2y?p=preview
**using new line in title

[2017-11-23 13:23] andrewtelnov opened #213 "Add Survey element and Survey Editor"
Add Survey element on the right of the page panel. It should have "Edit" button for calling the Survey Editor.

[2017-11-23 13:25] andrewtelnov opened #214 "Add page property into Question/Panel objects"
It should be non-serializable property. It should be shown in the property grid and Question/Panel editor if there are more then one pages.

[2017-11-23 14:26] tsv2013 commented on #153
@ahtsei We've introduced Bootstrap 4 support since v0.96.2 (https://github.com/surveyjs/editor/releases/tag/v0.96.2).

[2017-11-23 14:27] tsv2013 commented on #191
@AJF4 We've introduced Bootstrap 4 support since v0.96.2 (https://github.com/surveyjs/editor/releases/tag/v0.96.2).

[2017-11-23 15:04] AJF4 commented on #191
Wow - that's awesome @tsv2013 - thank you!

I'll do the upgrade in our project tomorrow and let you know how it goes.

thanks again.

A

[2017-11-23 15:07] tsv2013 commented on #210
@cracki I've wrote this unit test:

[code]

I passed correctly escaped JSON to the editor, check HTML question's html property value and then got whole JSON back. Both JSONs are equal (I removed spaces, tabs and new lines).

Am I missing something? Probably I don't understand your case right...

[2017-11-24 07:47] tsv2013 commented on #128
@ak34504 Yes, SurveyJS has HTML question, but it serves to show additional information beautified enought and has no value. Thus in order to implement your scenarion some amount of code should be written. In my opinion the right way is to create custom question, that will contain a button and a popup for additional information input.